* { margin:0; padding:0; }
body,p,ul,li,ol,dl,dd,dt,form,input,button { margin:0; padding:0; }
ul,li,ol,dl,dd,dt { list-style:none; }
img { border:none; }
body { font-family:Arial; background:#fff; font-size:12px;scrollbar-face-color: #b4cee9; scrollbar-shadow-color: #b4cee9;scrollbar-highlight-color:#b4cee9; scrollbar-3dlight-color: #b4cee9; scrollbar-darkshadow-color: #b4cee9; scrollbar-track-color:#f1f1f1; scrollbar-arrow-color: #fff;}
a { text-decoration:none; hide-focus: expression( this.hideFocus=true );outline: none;  }
a:hover { text-decoration:none; color:#ff9600; }
frame { margin:0; padding:0; overflow-x:hidden; }
input,select { font-family:Arial; font-size:12px; font-weight:bold; color:#4d4d4d; }
/*login*/
.container { width:980px; margin:0 auto; }
.login-header { height:90px; position:relative; }
.logo { position:absolute; top:10px; left:20px; }
.langNav { position:absolute; right:0; top:45px; color:#b6b6b6; }
.langNav a { color:#b6b6b6; text-decoration:none; font-weight:bold; padding:0 10px; font-size:14px; }
.langNav a:hover,.langNav a.selected { color:#ff9600; text-decoration:none; }
.login-banner { margin-bottom:40px; }
.login-main { height:310px; background:url(img/login_left_icon.jpg) 65px center no-repeat; }
.login-form { margin-left:335px; height:270px; width:595px; }
.login-ft { height:13px; background:url(img/login_right_bg.gif) 0 0 no-repeat; }
.login-fb { height:13px; background:url(img/login_right_bg.gif) 0 -13px no-repeat; }
.login-fc { height:240px; background:#ececec; padding-left:22px; overflow:hidden; }
.login-fc p strong { font-size:14px; color:#ff9600; padding-top:12px; display:block; }
.login-fc p.login-text { line-height:18px; color:#aaa; word-spacing:2px; font-size:12px; padding-top:5px; padding-bottom:15px; font-weight:bold; }
.login-fc p.login-text span { color:#037ac2; }
.login-fc label { display:block; height:20px; line-height:20px; width:100%; color:#000; font-weight:bold; }
.login-fc input { height:31px; line-height:31px; background:url(img/login_input_bg.gif) left top repeat-x; border:#c8c8c8 solid 1px; border-top:none; width:187px; padding-left:3px; overflow:hidden; font-family:Arial; font-weight:bold; color:#037ac2; }
.login-fc input.btn-Submit { border:none; width:139px; height:21px; line-height:20px; background:url(img/login_btn.gif) no-repeat; overflow:hidden; color:#fdfdfd; font-weight:bold; margin-top:12px; cursor:pointer;hide-focus: expression( this.hideFocus=true );outline: none; }
.siteInfo th { height:30px; line-height:30px; background:#3d85c4; color:#fff; font-size:14px; text-align:left; padding-left:5px; overflow:hidden; }
.siteInfo th.th-rb { border-right:#f5f5f5 solid 1px;  text-align:right; padding-right:5px; padding-left:0; }
.siteInfo tr { background:#b8cce4; }
.siteInfo tr td { font-size:12px; height:18px; line-height:18px; text-align:left; color:#333; padding-left:5px; font-weight:bold; overflow:hidden; }
.siteInfo tr td.td-rb { border-right:#fff solid 1px; text-align:right; padding-left:0; padding-right:5px; }
.siteInfo tr.even { background:#dce6f1; }
.siteInfo tr.even td { border-top:#fff solid 1px; border-bottom:#fff solid 1px; height:18px; }
.login-footer p { text-align:right; font-size:11px; color:#999; font-weight:bold; margin-bottom:5px; }
.login-footer p.fcontent { background:#c1d830; height:55px; line-height:55px; text-align:center; font-size:16px; color:#FFF; letter-spacing:2px; }
/*main iframe*/
.wrapper { width:100%; position:relative; }
.header { height:90px; background:url(img/header_bg.gif) left bottom repeat-x; padding-bottom:25px; }
.header iframe { height:90px; width:100%; overflow:hidden; }
.main { width:100%; padding-top:15px; background:#fff; overflow:hidden; }
.main-left { width:21%; float:left; padding-top:10px; overflow:hidden; }
.main-left iframe { width:225px; margin-left:35px; } 
.main-right { width:79%; float:right; text-align:center; }
.main-right iframe { width:96%; margin:0 auto; } 
/*header.htm*/
.main-logo { position:absolute; top:10px; left:40px; }
.site-version { position:absolute; top:45px; left:285px; color:#bed633; font-weight:bold; font-size:24px; font-family:Verdana, Arial, Helvetica; }
.main-logout { position:absolute; right:10px; top:12px; color:#ccc; font-size:12px; font-weight:bold; }
.main-logout input { background:none; border:none; color:#037ac2; font-weight:bold; height:20px; line-height:20px; text-align:right; overflow:hidden; position:relative; top:4px; }
.main-logout .currentTime { position:relative; top:2px; color:#044080; }
.main-logout a { color:#ccc; position:relative; top:2px; }
.main-logout em { font-size:10px; padding:0 10px; }
.main-rlogo { position:absolute; right:10px; top:45px; }
/*tree*/
.left_navigation { padding-left:15px; padding-top:15px; padding-bottom:30px; }
#Tree_treeView_0 { width:210px; overflow-x:hidden; }
#Tree_treeView_0 td { color:#888; font-size:12px; height:20px; line-height:20px; font-weight:bold; text-indent:0; margin:0; padding:0; }
#Tree_treeView_0 td a { color:#888; }
#Tree_treeView_0 td a:hover { color:#ff9600; font-size:13px; }
#Tree_treeView_0 div div { padding-left:5px; }
#Tree_treeView_0 TD.Tree_FOLDER_1 a { }
#Tree_treeView_0 TD.Tree_FOLDER_2 a { }
#Tree_treeView_0 TD.Tree_FOLDER_3 a { color:#ff9600; font-size:13px; }
#Tree_treeView_0 TD.Tree_FOLDER_3 a:hover { font-size:13px; }
#Tree_treeView_0 td.Tree_FILE_1 a { }	
#Tree_treeView_0 td.Tree_FILE_2 a { }
#Tree_treeView_0 td.Tree_FILE_3 a { color:#ff9600;  font-size:13px; }
#Tree_treeView_0 td.Tree_FILE_3 a:hover { font-size:13px; }
.left_table { padding-top:15px; }
.left_table .siteInfo th { height:20px; line-height:20px; font-size:12px; }
.left_table .siteInfo caption { display:block; height:25px; line-height:25px; color:#ff9600; font-weight:bold; text-align:left; font-size:14px; } 
.left_table .siteInfo td { font-size:11px; font-weight:bold; }
/*index*/
.sysStatus { width:115%; overflow:hidden; }
.sysStatus p { font-size:14px; font-weight:bold; color:#4d4d4d; font-family:Arial; position:absolute; z-index:0;  width:40%;  }
.sysStatus p strong { font-size:16px; font-weight:bolder; color:#000; font-family:Arial; }
.sysStatus p strong span font { position:relative; top:0px; left:0px; _left:-10px; font-size:17px; font-family:Arial; }
.sysStatus p strong span { position:relative; top:0px; left:3px; color:#000; }
.sysStatus p.os_p1 { top:30px; left:190px; line-height:20px; }
.sysStatus p.os_p2 { top:110px; left:45%; line-height:20px }
.sysStatus p.os_p3 { top:95px; left:120px; line-height:20px; letter-spacing:1px; display:inline-block; }
.sysStatus p.os_p4 { top:210px; left:280px; line-height:20px; }
.sysStatus p.os_p5 { top:95px; left:410px; line-height:20px; }
.sysLeft { width:28%; height:100%; float:left; border-right:#fff solid 6px; overflow:hidden; }
.sysRight { width:71%; height:345px; float:right; overflow:hidden; position:relative; }
.eventStatus { width:100%; height:115px; /*background:url(img/index_bg.gif) left -295px repeat-x;*/ position:relative; }
.eventStatus p { top:35px; left:45%; line-height:20px }
.eventStatus a { background:url(img/index_icon.gif) no-repeat; display:inline-block; width:69px; height:69px; position:absolute; top:25px; left:15%; }
.eventStatus a.iconImg1_ok { background-position:0 0; display:none; }
.eventStatus a.iconImg1_ok:hover { background-position:-74px 0; }
.eventStatus a.iconImg1_alarm { width:66px; height:59px; background-position:0 -73px; display:none;}
.eventStatus a.iconImg1_alarm:hover { background-position:-75px -73px; }

.outputStatus { width:100%; height:115px; /*background:url(img/index_bg.gif) left -390px repeat-x;*/ position:relative; overflow:hidden; }
/*.outputStatus a { background:url(img/index_icon.gif) no-repeat; display:inline-block; width:69px; height:69px; position:absolute; top:11px; left:15%; }*/
.outputStatus a.os_status { width:61px; height:61px; top:30px; background-position:0 -137px; }
.outputStatus a.os_status:hover { background-position:-75px -137px; }

.outputCurrent { width:100%; height:115px; /*background:url(img/index_bg.gif) left -390px repeat-x;*/ position:relative; overflow:hidden;  }
/*.outputCurrent a { background:url(img/index_icon.gif) no-repeat; display:inline-block; width:69px; height:69px; position:absolute; top:11px; left:15%; }*/
.outputCurrent a.os_status { width:61px; height:61px; top:75px; background-position:0 -137px; }
.outputCurrent a.os_status:hover { background-position:-75px -137px; }

.otherStatus { height:300px; float:left; left:-100px; position:absolute; }
.otherStatus a { background:url(img/index_icon.gif) no-repeat; display:inline-block; width:61px; height:61px; z-index:8888; position:absolute; top:11px; left:70px; }
.otherStatus a.os_a1 { top:22px; left:127px;  background-position:0 -207px; }
.otherStatus a.os_a1:hover { background-position:-75px -207px; }
.otherStatus a.os_a2 { top:22px; left:240px; background-position:0 -278px; }
.otherStatus a.os_a2:hover { background-position:-75px -278px; }
.otherStatus a.os_a3 { top:138px; left:298px; background-position:0 -348px; }
.otherStatus a.os_a3:hover { background-position:-75px -348px; }
.otherStatus a.os_a4 { top:22px; left:419px; width:60px; background-position:0 -414px; }
.otherStatus a.os_a4:hover { background-position:-76px -414px; }
span.iconAlarm { display:block; width:37px; height:32px; background:url(img/alarm_icon.png) left top no-repeat; position:absolute; left:-15px; top:-13px; z-index:9999;   _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="img/alarm_icon.png"); }
.scrollLineX { position:absolute; top:51px; left:165px; height:4px; width:260px; background:#333; overflow:hidden; z-index:0; }
.scrollLineY { position:absolute; top:53px; left:326px; height:135px; width:4px; background:#333; overflow:hidden; z-index:0; }

.loadTrend { clear:both; width:115%; padding-top:10px;}
.loadTrendc { width:115%; height:180px; position:relative; overflow:hidden;  }
.trendLeft { float:left; width:520px; height:180px; }

.trendRight { float:left; width:280px; position:relative; }
.trendText { position:absolute; width:150px; height:180px; left:120px; top:15px; overflow:hidden; }
.trendText dd { height:25px; line-height:25px; font-family:Arial; font-size:12px; font-weight:bold; color:#4d4d4d; }
.trendText dd strong { font-size:16px; color:#000; }
.trendText dt { height:25px; line-height:25px; font-family:Arial; font-size:14px; font-weight:bold; color:#4d4d4d;  }
.trendText dt.time { font-size:12px; padding-bottom:10px; }



/*data*/
.dataLoading {  font-weight:bold; color:#888; font-size:14px; padding:20px 0; text-align:center; }
.dataLoading img { margin-right:5px; }
#dataList { width:100%; /*background:url(img/datalist_bg.gif) top bottom repeat-x fixed;*/ padding:15px; padding-top:10px; height:auto; overflow:hidden; }
#dataList #sample { width:98%; border:none; outline:none; text-indent:0; margin:0; padding:0; }
#dataList #sample td { border:none; outline:none; text-indent:0; margin:0; padding:0; height:24px; line-height:24px; font-weight:bold; color:#4d4d4d; text-indent:10px; padding-right:10px;}
#dataList table { width:96%; border:none; outline:none; text-indent:0; margin:0; padding:0; }
#dataList table td { border:none; outline:none; text-indent:0; margin:0; padding:0; height:24px; line-height:24px; font-weight:bold; color:#4d4d4d; text-indent:10px; padding-right:10px; }
#dataList table td span.tableTitle { color:#fff; font-size:12px; display:block; height:24px; line-height:24px; background-color: }
#dataMenu { adding:15px; padding-top:11px; height:auto; overflow:hidden; position:relative; }

.frameSwitch { padding-left:445px; overflow:hidden; position:relative; top:-4px; }
a.hiddenFrame { display:inline-block; width:48px; height:15px; background:url(img/frameSwith.gif) 0 0 no-repeat; }
a.showFrame { display:inline-block; width:48px; height:15px; background:url(img/frameSwith.gif) -59px 0 no-repeat; }

.frameSwitch a input { vertical-align:middle; margin-left:10px; margin-right:0px; }
a.switchCheck { line-height:15px; font-family:Arial; font-size:12px; font-weight:bold; color:#3d85c4; }
a.switchCheck:hover { color:#21a121; text-decoration:none; }
ul.tabMenu { height:30px; overflow:hidden; }
ul.tabMenu li { float:left; height:30px; }
ul.tabMenu li a { display:inline-block; padding:0 24px; padding-right:0; margin-right:5px; height:31px; line-height:31px; text-align:center; font-weight:bold; color:#fff; background:url(img/tab_bg.gif) left -33px no-repeat; text-decoration:none; }
ul.tabMenu li a span { display:inline-block; background:url(img/tab_bg.gif) right -33px no-repeat; padding-right:24px; cursor:pointer; }
ul.tabMenu li a:hover,ul.tabMenu li a.tabSelected { background-position:left top; color:#246cb8; text-decoration:none; }
ul.tabMenu li a:hover span,ul.tabMenu li a.tabSelected span { background-position:right top; color:#246cb8; }
.tabPosition { height:30px; background:#b4cee9; padding-top:7px; padding-left:10px; overflow:hidden; }
.tabStatusOut { display:inline-block; padding-left:24px; height:23px; line-height:23px; text-align:center; font-weight:bold; color:#fff; background:url(img/tab_status_bg.gif) left top no-repeat; overflow:hidden; }
.tabStatusIn { display:inline-block; padding-right:24px; height:23px; line-height:23px; text-align:center; font-weight:bold; color:#fff; background:url(img/tab_status_bg.gif) right top no-repeat; overflow:hidden; }
.alarmBlue { height:15px; background:#b4cee9; overflow:hidden; }
/*other*/

.common_title { padding:10px; border-bottom:#b4cee9 solid 2px; background:#f8f8f8; } 
.common_title table { width:98%; }
.common_title table td { height:30px; line-height:30px; font-weight:bold; color:#4d4d4d; border-bottom:#fff solid 1px; text-align:left; padding-top:3px; }
.common_title table td strong { border-right:#fff solid 1px; width:70px; display:inline-block; margin-right:10px; text-align:right; padding-right:15px; }
.common_title a { color:#3d85c4; text-decoration:underline; margin-right:15px; }
.common_title a:hover { color:#ff9600; }
#otherDataList { width:100%; padding:15px; padding-top:10px; height:auto; overflow:hidden; }
#otherDataList talbe td { height:24px; line-height:24px; overflow:hidden; }





.copyright { text-align:right; color:#888; font-weight:bold; font-size:12px; padding-right:10px; padding-top:0px; word-spacing:1px; }
