<!DOCTYPE html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head><body>
<%var args= it.args, data = it.data ? it.data : it;%>
<div id="Setting_TL1_Group">
    <div class="table-container" style="margin:0;">
        <div class="table-title"><span>/*[ID_AID_GROUP]*/</span></div>
            <div class="table-list" id="GroupList" style="min-height:100px; position:relative;padding:0 10px;">
                <div class="table">
                    <div class="table-header">
                        <ul>
                        <li class="t-1">&nbsp;</li>
                        <li class="t-2"><strong class="left pl">/*[ID_AID_INDEX]*/</strong></li>
                        <li class="t-3"><strong class="left pl">/*[ID_AID_NAME]*/</strong></li>
                        <li class="t-4"><strong class="left pl">/*[ID_AID_PREFIX]*/</strong></li>
                        <li class="t-5"><strong class="left pl">/*[ID_AID_TYPE]*/</strong></li>
                        </ul>
                    </div>
                    <div class="table-body">
                        <%  var aidType = [
	                "/*[ID_EQPT]*/",     /*"EQPT"*/
	                "/*[ID_ENV]*/"       /*"ENV"*/
                ];
                var index, name, prefix, type, prefixValid, datas;
                         %>
                        <% for(var i=0, ilen=data.content.length; i<ilen; i++)
                        {
                            index = data.content[i][0];
                            name = data.content[i][1];
                            prefix = data.content[i][2];
                            type = data.content[i][3];
                            prefixValid = data.content[i][4];
                            NameSuffixMaxLen = data.content[i][5];
                            datas = "\{\"_index\":\""+$.trim(index)+"\",\"_name\":\""+$.trim(name)+"\",\"_prefix\":\""+$.trim(prefix)+"\",\"_type\":\""+$.trim(type)+"\",\"_prefixValid\":\""+$.trim(prefixValid)+"\",\"_NameSuffixMaxLen\":\""+$.trim(NameSuffixMaxLen)+"\"}";%>
                            <ul class= "<%if(i%2==0){%> gray <%if(i==ilen-1){ %> bottom_line <%}} %>">
                        <li class="t-1"><span class="left pl"><div name="GroupSelect" value="" class="radiodiv radiodivnot"  data=<%=datas%>></div></span></li>
                        <li class="t-2"><span class="left pl"><%=index %></span></li>
                        <li class="t-3"><span class="left pl"><%=name %></span></li>
                        <li class="t-4"><span class="left pl"><%=prefix %></span></li>
                        <li class="t-5"><span class="left pl"><%=aidType[type] %></span></li>
                        </ul>
                        <%} %>
                    </div>
                </div>
                <div class="set-form clearfix" style="margin:0 -10px; border:none; border-top:#fff solid 0px; padding:15px 0;height:auto;position:relative;">
                    <form action="../cgi-bin/web_cgi_setting.cgi" id="GroupForm" method="POST">
                       <ul class="setul">
                        <li class="t-1"><label>/*[ID_AID_NAME1]*/:</label></li>
                        <li class="t-2"><input name="_name" id="_name" type="text" maxLength="20"/></li>
                        <li class="t-1"><label>/*[ID_AID_TYPE1]*/:</label></li>
                        <li class="t-2">
                            <div class="dropdown">
                                <div class="input_select set_value" name="_type" id="_type" data-index="0"><%=aidType[0]%></div>
                                <ul class="language yinc">
                                     <li><a href="javascript:void(0)" rel="0"><%=aidType[0]%></a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <ul class="setul">
                        <li class="t-1"><label>/*[ID_AID_PREFIX1]*/:</label></li>
                        <li class="t-2"><input name="_prefix" id="_prefix" type="text" maxLength="20" class="set_disabled" disabled="disabled"/></li>
                        <li class="t-3"><a href="#" hideFocus="true" class="btn_2_disabled modify"><span>/*[ID_SUBMIT]*/</span></a></li>
                    </ul>
                    </form>
                </div>
            </div>
    </div>
</div>
</body></html>
<%
Language["setting_group"] = {
	"errors":[
	"/*[ID_TL1_ERRORS1]*/",		/*[0]"Successful."*/
	        "/*[ID_TL1_ERRORS2]*/",		/*[1]"Configuration fail."*/
	        "/*[ID_TL1_ERRORS3]*/",		/*[2]"Failed. Service was exited."*/
	        "/*[ID_TL1_ERRORS4]*/",		/*[3]"Invalid parameters."*/
	        "/*[ID_TL1_ERRORS5]*/",		/*[4]"Invalid parameters."*/
	        "/*[ID_TL1_ERRORS6]*/",		/*[5]"Fail to write to Flash."*/
	        "/*[ID_TL1_ERRORS7]*/",		/*[6]"Service is busy."*/
	        "/*[ID_TL1_ERRORS8]*/",		/*[7]"Port has already been occupied."*/
	        "/*[ID_TL1_ERRORS9]*/",		/*[8]"Port has already been occupied."*/
	        "/*[ID_TL1_ERRORS10]*/",		/*[9]"Port has already been occupied."*/
	        "/*[ID_TL1_ERRORS11]*/",		/*[10]"Port has already been occupied."*/
	        "/*[ID_TL1_ERRORS12]*/",		/*[11]"The TL1 feature is not available."*/
        "/*[ID_ERROR3]*/",		/*[12]"Insufficient privileges for this function."*/
        "/*[ID_ERROR4]*/",		/*[13]"Invalid characters."*/
        "/*[ID_ERROR5]*/",		/*[14]"Can't be empty."*/
        "/*[ID_ERROR6]*/"		/*[15]"The length sum of AID name and Sub AID name prefix exceed range."*/
	],
	"tips":[
	]
};
%>
