﻿<!DOCTYPE html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head><body>
<%var lang = args["language_type"]; %>
<div id="SetAlarm" template='<form action="../cgi-bin/web_cgi_control.cgi" id="settingForm" method="post"><ul class="popul">
                <li class="popli"><span style="width:142px;">/*[ID_TIPS1]*/:</span>
                     <div class="dropdown">
                            <div class="input_select set_value" style="background-position: -327px -243px;" data-index="" name="signal_new_level" pname="signal_new_level">/*[ID_TIPS2]*/</div>
                            <ul class="language yinc">
                                 <li><a href="javascript:void(0)" rel="">/*[ID_TIPS6]*/</a></li>
                                 <li><a href="javascript:void(0)" rel="0">/*[ID_NA]*/</a></li>
                                 <li><a href="javascript:void(0)" rel="1">/*[ID_OA]*/</a></li>
                                 <li><a href="javascript:void(0)" rel="2">/*[ID_MA]*/</a></li>
                                 <li><a href="javascript:void(0)" rel="3">/*[ID_CA]*/</a></li>
                            </ul>
                     </div>
                </li>
                <li class="popli"><span style="width:142px;">/*[ID_TIPS3]*/:</span>
                    <div class="dropdown">
                            <div class="input_select set_value" style="background-position: -327px -243px;" data-index="" name="_alarmReg" pname="_alarmReg">/*[ID_TIPS7]*/</div>
                            <ul class="language yinc">
                                <li><a href="javascript:void(0)" rel="">/*[ID_TIPS4]*/</a></li>
                                <li><a href="javascript:void(0)" rel="0">/*[ID_NA5]*/</a></li>
                                <%
                                    var list = data.content[2];
                                    for(var i=0;i<list.length;i++){  %>
                                    <li><a href="javascript:void(0)" rel="<%=list[i][0] %>"><%=list[i][1][lang] %></a></li>
                               <%} %>
                            </ul>
                     </div>
                </li>
                <li class="info" id="SetAlarmInfo"></li>
                <li class="btn"><a href="#" hidefocus="true" class="btn_set"><i>/*[ID_SET]*/</i></a></li>
            </ul> </form>'>
        <%
        var thisTitle = "";
        if(args.selected && args.selected!="") { thisTitle = args.selected; }
        %>
        <div class="table-container margin-n">                    
        <div class="table-title"><span><%=thisTitle %></span></div>
            <div class="table-list padding-tn">
            <div class="table" id="SetAlarmList">
                <div class="table-header">
                    <ul>
                        <li class="t-1"><strong class="left pl">/*[ID_INDEX]*/</strong></li>
                        <li class="t-2"><strong class="left pl">/*[ID_NAME]*/</strong></li>
                        <li class="t-3"><strong class="left pl">/*[ID_LEVEL]*/</strong></li>
                        <li class="t-4"><strong class="left pl">/*[ID_ALARMREG]*/</strong></li>
                        <li class="t-5"><strong>/*[ID_MODIFY]*/</strong></li>
                    </ul>
                </div>
                <div class="table-body">
                        <%
                        var nodata = true;
                        var list = data.content[0];
                        var list2 = data.content[2];
                        if(list && list.length>0){
                        var AlarmLevels = ["/*[ID_NA1]*/","/*[ID_OA1]*/","/*[ID_MA1]*/","/*[ID_CA1]*/"];
                        for(var i=0,ilen=list.length;i<ilen; i++){
                        nodata = false;
                    %>
                    <ul class= "<%if(i%2==0){%> gray <%if(i==ilen-1){ %> bottom_line <%}}else{ %><%if(i==ilen-1){ %> bottom_line2 <%}} %>" id="AlarmSignal_<%=list[i][0] %>">
                        <li class="t-1"><span class="left pl"><%=i+1%></span></li>
                        <li class="t-2"><span class="left pl"><%=list[i][1] %></span></li>
                        <%
                        var list_i_level = list[i][3];
                        %>
                        <li class="t-3"><span class="left pl"><%=AlarmLevels[list_i_level] %></span></li>
                        <%
                        var list_i_num = list[i][2];
                        %>
                        <li class="t-4"><span class="left pl">
                        <%
                        var danum=0;
                        if(list_i_num==0){ %>
                            /*[ID_NA3]*/
                        <%} else { %>
                            <%for(var x=0;x<list2.length;x++){
                                if(list2[x][0]==list_i_num){danum++;%>
                                    <%=list2[x][1][lang] %>
                                <%}
                             }
                             if(danum==0){%>
                                 /*[ID_NA4]*/
                             <%}
                        } %></span></li>
                        <%
						var equipmentId = 100;
						if((args["equipmentId"] && args["equipmentId"]!="") || args["equipmentId"]==0 ){ 
							equipmentId = args["equipmentId"]; 
						};                 
						%>
                        <li class="t-5"><a href="javascript:void(0);" hidefocus="true" class="btn_set" post="equip_ID=<%=equipmentId%>&signal_id=<%=list[i][0] %>&signal_type=3&control_value=&control_type=18" modifydatas='{"signal_new_level":"<%=list_i_level %>","_alarmReg":"<%=list_i_num %>"}'><i>/*[ID_MODIFY1]*/</i></a></li>
                    </ul>
                    <%};} %>
                    <%if(nodata){ %>
                        <div class="system-no-data">/*[ID_TIPS5]*/</div>
                    <%} %>

                </div>
            </div>
        </div>
        </div>
    </div>
</body></html>
