﻿<!DOCTYPE html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head><body>
<%var lang = args["language_type"]; %>
<div class="extbackground">
<div class="mainBody" id="mainBody">
<div id="InstallWizad">
    <!--站点设置-->
    <div id="set_site_info">
    <%
         var SignalName = [
            "/*[ID_TIPS13]*/",
            "/*[ID_TIPS14]*/",
            "/*[ID_TIPS15]*/"
        ];
    %>
    <div class="table-container">
        <div class="table-title">
            <span>/*[ID_SITE]*/</span></div>
        <div class="table-list padding-tn">
            <form action="../cgi-bin/web_cgi_control.cgi" id="settingForm" method="POST">
              <input type="hidden" name="equip_ID">
              <input type="hidden" name="signal_type">
              <input type="hidden" name="signal_id">
              <input type="hidden" name="control_value">
              <input type="hidden" name="control_type">
              <input type="hidden" name="sessionId">
              <input type="hidden" name="language_type" value="<%=args['language_type'] %>">
            <div class="table">
                <div class="table-header">
                    <ul>
                        <li class="t-1"><strong class="left pl">/*[ID_DEVICE]*/</strong></li>
                        <li class="t-2"><strong class="left pl">/*[ID_SIGNAL]*/</strong></li>
                        <li class="t-3"><strong class="left pl">/*[ID_VALUE]*/</strong></li>
                        <li class="t-4"><strong class="left pl">/*[ID_SETTING_VALUE]*/</strong></li>
                        <li class="t-5"><strong>/*[ID_SET]*/</strong></li>
                    </ul>
                </div>
                <div class="table-body">
                    <%for(var i=0,ilen=data.site_name.length; i<ilen; i++){ %>
                    <ul class= "<%if(i%2==0){%> gray <%if(i==ilen-1){ %> bottom_line <%}} %>">
                        <li class="t-1"><span class="left pl">/*[ID_SITE1]*/</span></li>
                        <li class="t-2"><span class="left pl"><%=SignalName[i] %></span></li>
                        <li class="t-3"><span class="left pl"><%=data.site_name[i][args['language_type']==0?1:2] %></span></li>
                        <li class="t-4"><span class="left pl"><input class="text set_value" type="text" value="" validate='{"type":"sitename","error":"008"}' maxlength="16"></span></li>
                        <li class="t-5"><a <%if(args['level']>=3){ %>class="btn_set" post="set_type=site&equip_ID=<%=data.site_name[i][0] %>&signal_type=-1&signal_id=-1&control_type=4&language_type=<%=args['language_type'] %>" <%} else { %> class="btn_set_disabled" <%} %> hidefocus="true" href="#" style="float: none;"><i>/*[ID_SET1]*/</i></a></li>
                    </ul>
                    <%} %>
                </div>
            </div>
            </form>
        </div>
    </div>
    </div>
    <!--时间设置-->
   <div class="table-container margin-n">                    
    <div class="table-title"><span>/*[ID_TIME_SET]*/</span></div>
        <div class="table-list padding-tn">
        <form action="../cgi-bin/web_cgi_setting.cgi" id="TimeForm" method="post" onsubmit="return false">
            <div class="table">
            <div class="table-body" style="margin-top:15px;">
                <ul class="gray" id="iw_set_time">
                    <li class="t-100"><span class="left pl"><input type="text" name="_submitted_time" value="" id="getSubmitTime" <%if(args['level']==1 || args['level']==2){ %> disabled="disabled" <%} %>  maxlength="19" /></span></li>
                    <li class="t-200">
                    <a <%if(args['level']>=3){ %>class="btn_2"<%} else{ %> class="btn_2_disabled" onclick="return false;"<%} %> hidefocus="true" href="#" id="getCurrentTime" style="float:left; margin:7px 10px 0 0;"><i>/*[ID_GET_TIME]*/</i></a>
                    <a <%if(args['level']>=3){ %>class="btn_2 time_set" post="_modify_configure=4&_modify_configure_detail=7&_use_time_server=2&language_type=<%=args['language_type'] %>&sessionId=<%=args["sessionId"] %>" <%} else { %> class="btn_2_disabled" onclick="return false;" <%} %> hidefocus="true" href="#"  style="float:left; margin:7px 10px 0 0;"><i>/*[ID_SET2]*/</i></a></li>
                </ul>
            </div>
            </div>
        </form>
    </div>
    </div>
        
    <!--信号设置-->
    <div class="table-container margin-n" id="siteSignals">                    
    <div class="table-title"><span>/*[ID_SIGNAL_SET]*/</span></div>
        <div class="table-list padding-tn">
        <form action="../cgi-bin/web_cgi_control.cgi" method="post">
        <div class="table">
            <div class="table-header">
                <ul>
                    <li class="t-1"><strong class="left pl">/*[ID_SIGNAL1]*/</strong></li>
                    <li class="t-2"><strong class="left pl">/*[ID_VALUE1]*/</strong></li>
                    <li class="t-3"><strong class="left pl">/*[ID_TIME1]*/</strong></li>
                    <li class="t-4"><strong class="left pl">/*[ID_SET_VALUE1]*/</strong></li>
                    <li class="t-5"><strong>/*[ID_SET4]*/</strong></li>
                </ul>
            </div>
            <div class="table-body">
                    <%
                    var wizardList = data.WIZARD.list;
                    if(wizardList && wizardList.length>0){
                    for(var i=0,ilen=wizardList.length;i<ilen; i++){
						var hasAuthority = args["level"]>=wizardList[i][4];
						var ControlSignal = (wizardList[i][2] == 1) ? true : false;
						var ControlDisabled = (ControlSignal && wizardList[i][12]==0 || !hasAuthority) ? true : false;
                        if(wizardList[i][5]>0){
                            var setTimeStr = Pages.SetSettingDate(wizardList[i][5]);
                            setTimeStr = Pages.footer(Pages.changetime(setTimeStr),"page");//根据不同信号值显示不同时间格式.
                        } else {
                            var setTimeStr = "--";
                        }
                    %>
                <ul class= "<%if(i%2==0){%> gray <%if(i==ilen-1){ %> bottom_line <%}}else{ %><%if(i==ilen-1){ %> bottom_line2 <%}} %>" id="signal_<%=wizardList[i][1] %>_<%=wizardList[i][2] %>_<%=wizardList[i][3] %>">
                    <li class="t-1"><span class="left pl"><%=wizardList[i][0][lang] %></span></li>
                    <li class="t-2"><span class="left pl">
                        <%if(ControlSignal && wizardList[i][10].length==1){ %>
                    <%=wizardList[i][10][0] %>
                    <%}else{ %>
                    <%if(wizardList[i][8]==5){ %><%=wizardList[i][10][wizardList[i][9]][lang]%> <%}else{ %><%=wizardList[i][9] %><%};if(typeof wizardList[i][10] =="string"){ %><%=Pages.adunit(wizardList[i][10])%><%};} %></span></li>
                    <li class="t-3"><span class="left pl"><%=setTimeStr %></span></li>
                    <li class="t-4">
                            <%if(wizardList[i][8]==5){
                            if(wizardList[i][10].length<=2){ %>
                            <span class="left pl radio">
                            <fieldset class="set_value">
                            <%
                            for(var j=0,jlen=wizardList[i][10].length; j<jlen;j++){ 
                                var inputValue = (jlen==1)? 1: j;
                            %>
                            <div name="control_<%=i %>" value="<%=inputValue %>" <%if(j==0){if(ControlDisabled){%>class="radiodiv disradiodiv"<%}else{%>class="radiodiv"<%}}else{if(ControlDisabled){%>class="radiodiv disradiodivnot"<%}else{%>class="radiodiv radiodivnot "<%}}%>><label><%=wizardList[i][10][j][lang]%></label></div>
                            <%} %>
                            </fieldset>
                            </span>
                        <%}else {%>
                        <span class="left pl select selectsp">
                            <div class="dropdown">
                                <div class="input_select set_value" name="control_<%=i %>" typeid="<%=wizardList[i][1] %>_<%=wizardList[i][2] %>_<%=wizardList[i][3] %>" <%if(args['level']<wizardList[i][4]){ %> disabled="disabled" class="set_disabled"<%} else { %> class="set_value" <%} %> data-index="0"><%=wizardList[i][10][0][lang]%></div>
                                <ul class="language yinc">
                                <%for(var j=0,jlen=wizardList[i][10].length; j<jlen;j++){
                                    if(wizardList[i][1]==115&&wizardList[i][2]==2&&wizardList[i][3]==63){  
                                        if(wizardList[i][10][j][2]==1){%>                     
                                     <li><a href="javascript:void(0)" rel="<%=j %>"><%=wizardList[i][10][j][lang]%></a></li>
                                      <%}
                                   }else{%>
                                    <li><a href="javascript:void(0)" rel="<%=j %>"><%=wizardList[i][10][j][lang]%></a></li>
                                    <%}
                                }%>
                                </ul>
                            </div>
                            </span>
                        <%}} else {%>
                            <span class="left pl text"><input type="text" value="" <%if(args['level']<wizardList[i][4]){ %> disabled="disabled" class="set_disabled"<%} else { %> class="set_value" <%} %> name="control_<%=i %>" validate='{"type":<%=wizardList[i][8] %>,"range":[<%=wizardList[i][7]%>,<%=wizardList[i][6]%>]}' /> <i><%=wizardList[i][7] %>~<%=wizardList[i][6] %></i></span><%}%>
                    
                    </li>
                    <li class="t-5"><a href="#" hideFocus="true" class="btn_set <%if(ControlSignal){ %> set_control<%}%> <%if(ControlDisabled){%> btn_set_disabled<%}%>" 
					<%if(!ControlDisabled){%> 
						post="equip_ID=<%=wizardList[i][1]%>&signal_type=<%=wizardList[i][2] %>&signal_id=<%=wizardList[i][3] %>&value_type=<%=wizardList[i][8] %>&control_type=1"
						<%if(ControlSignal){ %>  tip="<%=jQuery.toJSON(wizardList[i][11]) %>" <%}else { %>  value="<%=wizardList[i][9]%>" <%} %> 
					<%}%>><i>/*[ID_SET3]*/</i></a></li>
                </ul>
                <%};} %>
            </div>
        </div>
        </form>
    </div>
    </div>
</div>
</div>
</div>
</body></html>
<%
/*入口链接<a>"render"参数为"artTemplate"时,必须用window.Language*/
window.Language["install_wizard"] = {
	"errors":[
		"/*[ID_TIPS1]*/",	/*[0]"Unknown error!"*/
		"/*[ID_TIPS2]*/",	/*[1]"Success!"*/
		"/*[ID_TIPS3]*/",	/*[2]"Failure, incorrect time setting!"*/
		"/*[ID_TIPS4]*/",	/*[3]"Failure, no required authority !"*/
		"/*[ID_TIPS5]*/",	/*[4]"Failure, incomplete information!"*/
		"/*[ID_TIPS6]*/",	/*[5]"Failure, ACU is hardware protected"*/
		"/*[ID_TIPS7]*/",	/*[6] */
		"/*[ID_TIPS8]*/",	/*[7] */
		"/*[ID_TIPS9]*/",	/*[8] */
		"/*[ID_TIPS10]*/",	/*[9] */
		"/*[ID_TIPS11]*/",	/*[10] */
		"/*[ID_TIPS12]*/"	/*[11] */
	]
};

    
%>