﻿<!DOCTYPE html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head><body>
<%var lang = args["language_type"];  %>
<div class="extbackground">
<div class="mainBody" id="mainBody">  
    <div class="system-summary system-battery-summary">
            <div class="system-battery-left">
            <div class="system-meter system-battery-meter" id="batteryMeter"></div>
             <div class="batteryMeter-Time <%=Validates.CheckValue(data.group.chart.Estimated_Remaining_Time,true) %>">/*[ID_REMAIN_TIME]*/: <strong><%=Validates.CheckValueReturn(data.group.chart.Estimated_Remaining_Time,"h",true)%></strong></div>
            </div>
            <div class="system-meterInfo system-batteryInfo">
            <table cellpadding="0" cellspacing="0" height="100%" class="table-a" style="width:473px">
                <tbody>
                    <tr>
                        <th style="width:60%">/*[ID_SIGNAL]*/</th>
                        <th>/*[ID_VALUE]*/</th>
                    </tr>
                     <%	
					var SignalNum = 0;
                    var SignalList = data.group.list;
					for(var s=0,slen=SignalList.length; s<slen; s++){
                        if(Validates.CheckValue(SignalList[s][1])!="v_hidden"){
                        SignalNum++;
                        var SignalListValue = SignalList[s][1][0];
                        SignalListValue = jQuery.type(SignalListValue) == "array" ? SignalListValue[lang] : SignalListValue;
                    %>
                            <tr class="<%=Validates.CheckValue(SignalList[s][1]) %>"<%if(s%2==0){ %>style="background-color:#4B4B4B"<%} %>>
                                <td><span><%=SignalList[s][0][lang] %></span></td>
                                <td><strong><%=SignalListValue%></strong></td>
                            </tr>
                    <% 
                       }
                    };
					%>
                    <%for(var tr =0; tr<6-SignalNum; tr++){ %>
                        <tr><td></td><td></td></tr>
                    <%}; %>
                </tbody>
            </table>
            </div>
            <div class="system-bt">
                <div class="system-batteryThermometer" id="batteryThermometer"></div>
                <div class="battery-thermometer <%=Validates.CheckValue(data.group.chart.Battery_Temperature,true)%>"><span>/*[ID_TEMP]*/:</span><em><%var cla =Validates.CheckValue(data.group.chart.Battery_Temperature);if(cla=="v_disabled" || cla=="v_hidden"){%><ins <%if(cla=="v_disabled"){%> class='v_disabled'<%}%>>/*[ID_TIP3]*/</ins><%} else { %><%if(jQuery.cookie("drawThermometer")==1){ %><%=Validates.CheckValueReturn(data.group.chart.Battery_Temperature,"°F",true)%><%}else{ %><%=Validates.CheckValueReturn(data.group.chart.Battery_Temperature,"&#176;C",true)%><%} %>
                <%}%></em></div>
            </div>
        </div>
        


        <div class="system-battery-list">
            <div class="system-battery" id="batteryDetail" template='{{ var lang = jQuery.cookie("language_type"); }}
                {{ if(it.list){ }}
                <div class="table-container margin-tn margin-bn" style="width:747px">
                    <div class="table-title"><span>{{=it.list[0][lang]}}</span><a href="#" id="closeDetail" hideFocus="true" class="system-battery-close">{{=it.back }}</a></div>
                    <div class="table-list padding-tn">
                        <div class="table">
                        <div class="table-header">
                            <ul>
                                <li class="t-1"><strong class="left pl">/*[ID_SIGNAL2]*/</strong></li>
                                <li class="t-2"><strong class="left pl">/*[ID_VALUE2]*/</strong></li>
                                <li class="t-1" style="margin-left:20px;"><strong class="left pl">/*[ID_SIGNAL1]*/</strong></li>
                                <li class="t-2"><strong class="left pl">/*[ID_VALUE1]*/</strong></li>
                            </ul>
                        </div>
                        <div class="table-body">
                            {{
                            var g=0;
							var i = 0;
                            for(var item5 in it.headLine){ 
                            if(it.headLine[item5][2]==3){
                            g++;
                            if(g>3){ g = 0;}
                            var itemValue = it.list[i+1];
                            if($.type(itemValue)=="array"){
                                if($.type(itemValue[0])=="array"){
                                    itemValue2 = itemValue[0][lang];
                                } else {
                                    itemValue2 = itemValue[0];
                                };
                            } else {
                                itemValue2 =  itemValue;
                            }
                             if(Validates.CheckValue(itemValue)=="v_hidden"){ g--; }
                            }}
                            <ul class="{{if(g%2==0){ }}right {{} }}{{if(g==1 || g==2){ }} gray{{} }} {{=Validates.CheckValue(itemValue)}}">
                                <li class="t-1"><span class="left pl">{{=it.headLine[item5][lang]}}</span></li>
                                <li class="t-2"><span class="left pl">
                                    {{=itemValue2}}
                                </span></li>
                            </ul>
                        {{};i++;} }}
                        </div>
                    </div>
                    </div>
                 </div>
                 {{ } }}'></div>
            <div id="batteryList">
                <div id="popup" class="popup system-popup battery_popup" style="<%if(Configs.Popup.status){%> display:block; <%=Configs.Popup.Style[0]%><%}%>" template='{{ var lang = jQuery.cookie("language_type"); }}
                    <div class="popup-content">
                        <dl class="popup-dl">
                            <dt>{{=it.BATT_CONTENT[it.dataKey][1][it.dataIndex][0][lang]}}</dt>
                            {{
							var j = 1;
							for(var item4 in it.BATT_CONTENT[it.dataKey][0]){
                                if(it.BATT_CONTENT[it.dataKey][0][item4][2]==2){
                                if(it.BATT_CONTENT[it.dataKey][1][it.dataIndex][j]){
                                var itemValue = it.BATT_CONTENT[it.dataKey][1][it.dataIndex][j];
                                if(itemValue){
                                    if($.type(itemValue)=="array"){
                                        if($.type(itemValue[0])=="array"){
                                            itemValue2 = itemValue[0][lang];
                                        } else {
                                            itemValue2 = itemValue[0];
                                        };
                                    } else {
                                        itemValue2 =  itemValue;
                                    }
                            }}
                            <dd class="{{=Validates.CheckValue(itemValue)}}"><em>{{=itemValue2 }}</em><span>{{=it.BATT_CONTENT[it.dataKey][0][item4][lang] }}</span></dd>
                            {{}; }; }; j++;} }}
                        </dl>
                    </div>
                    <div class="popup-arrow" style="{{if(Configs.Popup.Style){ }}{{=Configs.Popup.Style[1] || ""}}{{};}}"></div>'>
					<%
					if(Configs.Popup.status){
					var it = Configs.Popup.Data;
					var singleData = data.BATT_CONTENT[it.dataKey];
					if(singleData){
					%>
                    <div class="popup-content">
                        <dl class="popup-dl">
                            <dt><%=singleData[1][it.dataIndex][0][lang]%></dt>
                            <%
							var j = 1;
							for(var item4 in singleData[0]){
                                if(singleData[0][item4][2]==2){
                                if(singleData[1][it.dataIndex][j]){
                                var itemValue = singleData[1][it.dataIndex][j];
                                if(itemValue){
                                    if($.type(itemValue)=="array"){
                                        if($.type(itemValue[0])=="array"){
                                            itemValue2 = itemValue[0][lang];
                                        } else {
                                            itemValue2 = itemValue[0];
                                        };
                                    } else {
                                        itemValue2 =  itemValue;
                                    }
                            %>
                            <dd class="<%=Validates.CheckValue(itemValue)%>"><em><%=itemValue2 %></em><span><%=singleData[0][item4][lang] %></span></dd>
                            <%}; }; }; j++;} %>
                        </dl>
                    </div>
                    <div class="popup-arrow" style="<%=Configs.Popup.Style[1]%>"></div>
					<a href="#" id="BtnPopupClose" class="popup-close"></a>
					<%};};%>
				</div>
                <div class="system-battery-item">
                <%for(var item in data.BATT_CONTENT){%>
                    <%if(data.BATT_CONTENT[item].length!=0){%>
						<%/*循环找出容量的位置*/%>
						<%
						var capacity = null,icount = 1;
						for(var item2 in data.BATT_CONTENT[item][0]){
							if(item2=="_4"){
								capacity = icount;
							}
							icount++;
						};
						%>
                        <%for(var i=0,ilen=data.BATT_CONTENT[item][1].length; i<ilen; i++){ %>
                        <dl <%if(item=="ID_LARGEDU_BATT_CONTENT" || item=="ID_SMDU_BATT_CONTENT" || item=="ID_COM_BATT_CONTENT" || item=="ID_SMDUE_BATT_CONTENT"){%>class="battery-dl-n"<%} else if(item=="ID_EIB_BATT_CONTENT"){ %>class="battery-dl-eib" data='{"title":"/*[ID_EIB]*/","name":"EIB","data":"/var/datas/data.system_dc.html","template":"tmp.system_dc_smdup.html","fn":"false","menuIndex":"2","render":"artTemplate"}'<%} else {%>class="battery-dl"<%}%>  name='<%=item %>' index='<%=i %>'>
                            <dt><%=data.BATT_CONTENT[item][1][i][0][lang]%> <a href='#' data='{"title":"<%=data.BATT_CONTENT[item][1][i][0][lang]%>","name":"<%=item%>","dataIndex":"<%=i+1%>","data":"/var/datas/data.batt_setting.html","template":"tmp.batt_setting.html","fn":"Setting","modules":"mainBody","menuIndex":"2","disabledNav":"true","render":"artTemplate"}' class='set'></a> </dt>
                            <dd>
									<%
									var dcbg="";
									if(capacity!=null){
                                    var ipercent =data.BATT_CONTENT[item][1][i][capacity][0].replace(/[ |%]/g,"");  
                                          if(ipercent==0){
                                              dcbg="c-01";
                                          }else if(0<ipercent&&ipercent<=25){
                                              dcbg="c-02";
                                          }else if(25<ipercent&&ipercent<=50){
                                              dcbg="c-03";
                                          }else if(50<ipercent&&ipercent<=75){
                                              dcbg="c-04";  
                                          }else if(75<ipercent&&ipercent<=100){
                                              dcbg="c-05";
                                          }
									%>
									<div class="system-battery-img <%=dcbg %>"></div>
									<%} %>
                                <ul>
									<%
									var icount2 = 1;
									for(var item3 in data.BATT_CONTENT[item][0]){
										if(data.BATT_CONTENT[item][0][item3][2]==1){
									%>
											<li class="<%=Validates.CheckValue(data.BATT_CONTENT[item][1][i][icount2][0]) %>"><strong><%=data.BATT_CONTENT[item][1][i][icount2][0]%></strong></li>		
									<%	}
										icount2++;
									}
									%>
                                </ul>
                            </dd>
                        </dl>
                        <%}%>
                    <%}%>
                 <%}%>
                </div>
            </div>
        </div>
</div>
</div>
</body></html>
