﻿<!DOCTYPE html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head><body>
<%var args= it.args,data = it.data ? it.data : it;%>
 <form action="../cgi-bin/web_cgi_control.cgi" method="post">
 <%
        var LanguageList = {
             "de":"Deutsch"
            ,"es":"Español"
            ,"fr":"Français"
            ,"it":"Italiano"
            ,"ru":"русский"
            ,"tr":"Türk"
            ,"tw":"繁體中文"
            ,"zh":"简体中文"
        };
        var LanguageListZn = {
             "de":"/*[ID_GERMANY]*/"
            ,"es":"/*[ID_SPAISH]*/"
            ,"fr":"/*[ID_FRANCE]*/"
            ,"it":"/*[ID_ITALIAN]*/"
            ,"tw":"/*[ID_CHINA2]*/"
            ,"zh":"/*[ID_CHINA]*/"
        };
        var common = data.COMMON;
  %>
        <div class="table-container">
            <div class="table-title"><span>/*[ID_TIPS1]*/</span></div>
            <div class="table-list" id="SetLanguage">
               <div class="table">
                   <ul style="background: #4B4B4B;">
                    <li style="width:100%;height:auto">
                    <span>/*[ID_LANGUAGETIPS]*/:</span><br />
                      <%for(var i=0;i<common["LANGUAGE_OPTION"].length;i++){ %>
                        <%if(common["LANGUAGE_OPTION"][i][0]==1||common["LANGUAGE_OPTION"][i][0]==2){%>
                            <a href="javascript:void(0)" rel="<%=common["LANGUAGE_OPTION"][i][0] %>"><%=LanguageListZn[common["LANGUAGE_OPTION"][i][1]] %>(<%=LanguageList[common["LANGUAGE_OPTION"][i][1]] %>)</a>
                        <%} %>
                    <%} %>
                  </li>
                   </ul>
                </div>
            </div>
            <div class="table-handle"  id="SMSList_set" style="display:none;"><a href="#" class="btn_2 btn_2_disabled sms_submit"><i>/*[ID_SET]*/</i></a></div>
        </div>
        </form>
</body></html>
<%
Language["setting_language"] = {
	"errors":[
		"/*[ID_GERMANY_TIP1]*/",	/*[0]"Ausgewählte Sprache identisch mit lokaler Sprache, keine Änder"*/	 
		"/*[ID_SPAISH_TIP1]*/",		/*[1]"El idioma seleccionado es el mismo. No se necesita cambiar."*/		 
		"/*[ID_FRANCE_TIP1]*/",		/*[2]"La langue selectionnée est la langue locale, pas besoin de chan"*/
		"/*[ID_ITALIAN_TIP1]*/",	/*[3]"La Lingua selezionata è lo stessa della lingua locale, non serv"*/
		"/*[ID_RUSSIAN_TIP1]*/",	/*[4]"Selected language is same as local language, no need to change."*/
		"/*[ID_TURKEY_TIP1]*/",		/*[5]"Selected language is same as local language, no need to change."*/
		"/*[ID_TW_TIP1]*/",			/*[6]"选择的语言与本地语言一致, 无需更改."*/
		"/*[ID_ZH_TIP1]*/"			/*[7]"选择的语言与本地语言一致, 无需更改."*/
	],
	"text":[
		"/*[ID_GERMANY_TIP]*/",		/*[0]"Kontroller wird mit deutscher Sprache neustarten."*/
		"/*[ID_SPAISH_TIP]*/",		/*[1]"La controladora se va a reiniciar en Español."*/ 
		"/*[ID_FRANCE_TIP]*/",		/*[2]"Le controleur  redemarrera en Français."*/		
		"/*[ID_ITALIAN_TIP]*/",		/*[3]"Il controllore ripartirà in Italiano."*/
		"/*[ID_RUSSIAN_TIP]*/",		/*[4]"Controller will restart in Russian."*/
		"/*[ID_TURKEY_TIP]*/",		/*[5]"Controller will restart in Turkish."*/
		"/*[ID_TW_TIP]*/",			/*[6]"监控将会重启, 更改成\"繁体中文\"."*/
		"/*[ID_ZH_TIP]*/"			/*[7]"监控将会重启, 更改成\"简体中文\"."*/
	]
};

%>