<!DOCTYPE html><html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head><body>
<%var lang = args["language_type"]; %>
<div id="Set_CustomInput"  template='<form action="../cgi-bin/web_cgi_control.cgi" id="settingForm" method="post">
<ul class="popul">
     <li class="title popli">
        <span <%if(lang==0){ %> class="signalname_en"<%}else{%>class="signalname_zh"<%} %>>/*[ID_FUNCTION]*/</span><span class="currentvalue">/*[ID_CURRENT_SETTING]*/</span><span class="message"></span><span class="inputselect">/*[ID_NEW_SETTING]*/</span>
     </li>
     <li class="popli">
		<span <%if(lang==0){ %> class="signalname_en"<%}else{%>class="signalname_zh"<%} %>>/*[ID_VOLTAGE_INPUT2]*/</span>
		<span class="currentvalue" name="sSignalVal1" pname="sSignalVal1"></span>
		<span class="message inputtip" name="sSignalMessage1"></span>
		<div class="dropdown shuntsel">
                <div class="input_select set_value set_newval" data-index="" name="Signal_Value1" pname="Value1" Signal_Type="" Signal_ID="" Signal_ValueType=""></div>
                <ul class="language yinc">
                     
                </ul>
         </div>
     </li>
      <li class="popli">
		<span <%if(lang==0){ %> class="signalname_en"<%}else{%>class="signalname_zh"<%} %>>/*[ID_FUSE_ALARM_INPUT2]*/</span>
		<span class="currentvalue" name="sSignalVal2" pname="sSignalVal2"></span>
		<span class="message inputtip" name="sSignalMessage2"></span>
		<div class="dropdown shuntsel">
                <div class="input_select set_value set_newval" data-index="" name="Signal_Value2" pname="Value2" Signal_Type="" Signal_ID="" Signal_ValueType=""></div>
                <ul class="language yinc">
                     
                </ul>
         </div>
     </li>
      <li class="popli">
		<span <%if(lang==0){ %> class="signalname_en"<%}else{%>class="signalname_zh"<%} %>>/*[ID_ANALOG_INPUT2]*/</span>
		<span class="currentvalue" name="sSignalVal3" pname="sSignalVal3"></span>
		<span class="message inputtip" name="sSignalMessage3"></span>
		<div class="dropdown shuntsel">
                <div class="input_select set_value set_newval" data-index="" name="Signal_Value3" pname="Value3" Signal_Type="" Signal_ID="" Signal_ValueType=""></div>
                <ul class="language yinc">
                     
                </ul>
         </div>
     </li>
     <li class="info" id="SetAlarmInfo"></li>
     <li class="btn"><a href="#" hidefocus="true" class="btn_set"  datatype="" ><i>/*[ID_SET]*/</i></a></li>
</ul>
</form>'>
<%
      var Shuntlist = data.PowerSystem;
       var hash = {};
        var c = 0;
       for(var item in Shuntlist){
        if(Shuntlist[item].length > 0){
       for ( var i = 0; i < Shuntlist[item].length; i++) {
         //去除json数组里面重复情况
         (hash[Shuntlist[item][i]] == undefined) && (hash[Shuntlist[item][i][1]]=Shuntlist[item][i][1]);
       }
       
       for(var o in hash){
         cid=o.split(',')[0];
          for(var m = 0;m < Shuntlist[item].length; m++){
             if(Shuntlist[item][m][1]==cid){
             var isZK = (jQuery.inArray(c,Configs.PowerSystem)=="-1") ? false : true;
 %>
<div class="table-container<%if(!isZK){ %> border-bn <%} %>">                    
        <div class="table-title table-ex"><span class="<%if(!isZK){ %>title-zk<%} else { %>title-sl<%} %>"><i></i><%=Shuntlist[item][m][4][lang]%></span></div>
          <div class="table-list padding-tn table-content" index="<%=c %>" <%if(jQuery.inArray(c,Configs.PowerSystem)!="-1"){ %> style="display:block;" <%} %> >
            <form action="" method="post">
            <div class="table">
                <div class="table-header">
                    <ul>
                        <li class="t-1"><strong class="left pl">/*[ID_REFERENCE]*/</strong></li>
                        <li class="t-2"><strong class="left pl">/*[ID_VOLTAGE_INPUT]*/</strong></li>
                        <li class="t-3"><strong class="left pl">/*[ID_FUSE_ALARM_INPUT]*/</strong></li>
                        <li class="t-4"><strong class="left pl">/*[ID_ANALOG_INPUT]*/</strong></li>
                        <li class="t-5"><strong class="left pl">/*[ID_MODIFY]*/</strong></li>
                    </ul>
                </div>
                <div class="table-body">
                      <% 
                      var x=0;
                         for(var j = 0,ilen=Shuntlist[item].length;j < ilen ; j++){
                             if(Shuntlist[item][j][1]==cid){
                                var jStr=jQuery.toJSON(Shuntlist[item][j]);
                                x++;
                       %>
                     <ul class= "<%if((x-1)%2==0){%> gray <%if((x-1)==ilen-1){ %> bottom_line <%}}else{ %><%if((x-1)==ilen-1){ %> bottom_line2 <%}} %>"  id="<%=Shuntlist[item][j][0] %>_<%=Shuntlist[item][j][2] %>_<%=Shuntlist[item][j][3] %>_<%=j%>">
                        <li class="t-1"><span class="left pl"><%=Shuntlist[item][j][7][2][6][lang] %></span></li>
                        <li class="t-2"><span class="left pl"><%=Shuntlist[item][j][7][0][9][Shuntlist[item][j][7][0][3]][lang] %></span></li>
                        <li class="t-3"><span class="left pl"><%=Shuntlist[item][j][7][1][9][Shuntlist[item][j][7][1][3]][lang] %></span></li>
                        <li class="t-4"><span class="left pl"><%=Shuntlist[item][j][7][3][9][Shuntlist[item][j][7][3][3]][lang] %></span></li>
                        <li class="t-5">
                             <a href="javascript:void(0)" hideFocus="true"class="btn_mod" 	post="language_type=<%=lang %>&equip_ID=<%=Shuntlist[item][j][1]%>&signal_type=<%=Shuntlist[item][j][2]%>&signal_id=<%=Shuntlist[item][j][3]%>&control_value=&control_type=25" modifydatas='{<%=item %>:<%=jStr %>}' template='' lang='<%=lang %>'na4="/*[ID_NA4]*/" inputMessage='{1:"/*[ID_ADVANCEDSETTING_ANALOGS]*/",2:"/*[ID_SETTINGS_FUSES]*/",3:["/*[ID_ADVANCESSETTING_SHUNTS]*/","/*[ID_ADVANCEDSETTING_ANALOGS2]*/","/*[ID_ADVANCEDSETTING_ANALOGS3]*/","/*[ID_SETTINGS_TEMPERATURE]*/"]}' >
                                         <i>/*[ID_MODIFY2]*/</i>
                             </a>
                         </li>
                     </ul>
                     <% }}%>
                </div>
            </div>
            </form>
        </div>
      </div>
      <%c++; break;}}}}}%>
      </div>
</body></html>