﻿<!DOCTYPE html><html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head><body>
<%var lang = args["language_type"]; %>
<div id="Set_Analog"  template='<form action="../cgi-bin/web_cgi_control.cgi" id="settingForm" method="post">
<ul class="popul">
      <li class="title popli">
        <span <%if(lang==0){ %> class="signalname_en"<%}else{%>class="signalname_zh"<%} %>>/*[ID_SIGNAL]*/</span>
        <span class="reonval">/*[ID_CURRENT_SETTING]*/</span>
        <span class="unitorrange_tip"></span>
        <span class="newsetting_wd">/*[ID_NEW_CURRENT]*/</span>
        <span class="range">/*[ID_RANGE]*/</span>
     </li>
     <li class="popli">
		<span <%if(lang==0){ %> class="signalname_en"<%}else{%>class="signalname_zh"<%} %>>/*[ID_SIGNAL_FULL_NAME]*/</span>
		<span class="unitorrange_val mdname" ></span>
		<span class="unitorrange_tip"></span>
		<input class="set_value newval set_newval" name="Signal_FullName" pname="Signal_FullName" maxlength="25" value="" Signal_Type="" Signal_ID="" Signal_ValueType="" />
		<span class="unitorrange inputtip">/*[ID_INPUTTIP]*/</span>
     </li>
      <li class="popli">
		<span <%if(lang==0){ %> class="signalname_en"<%}else{%>class="signalname_zh"<%} %>>/*[ID_SIGNAL_ABBR_NAME]*/</span>
		<span class="unitorrange_val mdname" ></span>
		<span class="unitorrange_tip"></span>
		<input class="set_value newval set_newval" name="Signal_AbbrevName" pname="Signal_AbbrevName" maxlength="11" value="" Signal_Type="" Signal_ID="" Signal_ValueType="" />
		<span class="unitorrange inputtip">/*[ID_INPUTTIP2]*/</span>
     </li>
     <li class="popli TransValue">
		<span <%if(lang==0){ %> class="signalname_en"<%}else{%>class="signalname_zh"<%} %>>/*[ID_SIGNAL_UNITS]*/</span>
		<span class="unitorrange_val mdname" ></span>
		<span class="unitorrange_tip"></span>
		<div class="dropdown shuntsel">
                <div class="input_select set_value set_newval" data-index="" name="Signal_Units" pname="Signal_Units" Signal_Type="" Signal_ID="" Signal_ValueType=""></div>
                <ul class="language yinc">
                     
                </ul>
         </div>
		<span class="unitorrange inputtip"></span>
     </li>
     <li class="popli TransValue">
		<span <%if(lang==0){ %> class="signalname_en"<%}else{%>class="signalname_zh"<%} %>>/*[ID_SIGNAL_X1]*/</span>
		<span class="unitorrange_val mdname" ></span>
		<span class="unitorrange_tip"></span>
		<input class="set_value newval set_newval" name="Signal_X1" pname="Signal_X1" value="" Signal_Type="" Signal_ID="" Signal_ValueType="" />
		<span class="unitorrange inputtip"></span>
     </li>
     <li class="popli TransValue">
		<span <%if(lang==0){ %> class="signalname_en"<%}else{%>class="signalname_zh"<%} %>>/*[ID_SIGNAL_Y1]*/</span>
		<span class="unitorrange_val mdname" ></span>
		<span class="unitorrange_tip"></span>
		<input class="set_value newval set_newval" name="Signal_Y1" pname="Signal_Y1" value="" Signal_Type="" Signal_ID="" Signal_ValueType="" />
		<span class="unitorrange inputtip"></span>
     </li>
     <li class="popli TransValue">
		<span <%if(lang==0){ %> class="signalname_en"<%}else{%>class="signalname_zh"<%} %>>/*[ID_SIGNAL_X2]*/</span>
		<span class="unitorrange_val mdname" ></span>
		<span class="unitorrange_tip"></span>
		<input class="set_value newval set_newval" name="Signal_X2" pname="Signal_X2" value="" Signal_Type="" Signal_ID="" Signal_ValueType="" />
		<span class="unitorrange inputtip"></span>
     </li>
     <li class="popli TransValue">
		<span <%if(lang==0){ %> class="signalname_en"<%}else{%>class="signalname_zh"<%} %>>/*[ID_SIGNAL_Y2]*/</span>
		<span class="unitorrange_val mdname" ></span>
		<span class="unitorrange_tip"></span>
		<input class="set_value newval set_newval" name="Signal_Y2" pname="Signal_Y2" value="" Signal_Type="" Signal_ID="" Signal_ValueType="" />
		<span class="unitorrange inputtip"></span>
     </li>
      <li class="popli">
		<span <%if(lang==0){ %> class="signalname_en"<%}else{%>class="signalname_zh"<%} %>>/*[ID_LOW1_ALARM_LIMIT]*/</span>
		<span class="unitorrange_val" ></span>
		<span class="unitorrange_tip"></span>
		<input class="set_value newval set_newval"  name="Signal_low1Limit" pname="Signal_low1Limit" maxlength="32" Signal_Type="" value="" Signal_ID="" Signal_ValueType="" />
		<span class="unitorrange"></span>
     </li>
     <li class="popli">
		<span <%if(lang==0){ %> class="signalname_en"<%}else{%>class="signalname_zh"<%} %>>/*[ID_LOW1_ALARM_SEVERITY]*/</span>
		<span class="unitorrange_val" ></span>
		<span class="unitorrange_tip"></span>
		<div class="dropdown shuntsel">
                <div class="input_select set_value set_newval" data-index="" name="Signal_low1Severity" pname="Signal_low1Severity" Signal_Type="" Signal_ID="" Signal_ValueType=""></div>
                <ul class="language yinc">
                     <li><a href="javascript:void(0)" rel="0">/*[ID_NA]*/</a></li>
                     <li><a href="javascript:void(0)" rel="1">/*[ID_OA]*/</a></li>
                     <li><a href="javascript:void(0)" rel="2">/*[ID_MA]*/</a></li>
                     <li><a href="javascript:void(0)" rel="3">/*[ID_CA]*/</a></li>
                </ul>
         </div>
		<span class="unitorrange"></span>
     </li>
      <li class="popli">
		<span <%if(lang==0){ %> class="signalname_en"<%}else{%>class="signalname_zh"<%} %>>/*[ID_LOW1_ALARM_RELAY]*/</span>
		<span class="unitorrange_val" ></span>
		<span class="unitorrange_tip"></span>
		<div class="dropdown shuntsel">
            <div class="input_select set_value set_newval" data-index="" name="Signal_low1Relay" pname="Signal_low1Relay"></div>
            <ul class="language yinc">
                <li><a href="javascript:void(0)" rel="0">/*[ID_NA5]*/</a></li>
                <%
                var list = data.relay_options;
                for(var i=0;i<list.length;i++){  %>
                    <li><a href="javascript:void(0)" rel="<%=list[i][0] %>"><%=list[i][1][lang] %></a></li>
                 <%} 
             %>
            </ul>
        </div>
		<span class="unitorrange"></span>
     </li>
       <li class="popli">
		<span <%if(lang==0){ %> class="signalname_en"<%}else{%>class="signalname_zh"<%} %>>/*[ID_LOW2_ALARM_LIMIT]*/</span>
		<span class="unitorrange_val" ></span>
		<span class="unitorrange_tip"></span>
		<input class="set_value newval set_newval"  name="Signal_low2Limit" pname="Signal_low2Limit" maxlength="32" Signal_Type="" value="" Signal_ID="" Signal_ValueType="" />
		<span class="unitorrange"></span>
     </li>
     <li class="popli">
		<span <%if(lang==0){ %> class="signalname_en"<%}else{%>class="signalname_zh"<%} %>>/*[ID_LOW2_ALARM_SEVERITY]*/</span>
		<span class="unitorrange_val" ></span>
		<span class="unitorrange_tip"></span>
		<div class="dropdown shuntsel">
                <div class="input_select set_value set_newval" data-index="" name="Signal_low2Severity" pname="Signal_low2Severity" Signal_Type="" Signal_ID="" Signal_ValueType=""></div>
                <ul class="language yinc">
                     <li><a href="javascript:void(0)" rel="0">/*[ID_NA2]*/</a></li>
                     <li><a href="javascript:void(0)" rel="1">/*[ID_OA2]*/</a></li>
                     <li><a href="javascript:void(0)" rel="2">/*[ID_MA2]*/</a></li>
                     <li><a href="javascript:void(0)" rel="3">/*[ID_CA2]*/</a></li>
                </ul>
         </div>
		<span class="unitorrange"></span>
     </li>
      <li class="popli">
		<span <%if(lang==0){ %> class="signalname_en"<%}else{%>class="signalname_zh"<%} %>>/*[ID_LOW2_ALARM_RELAY]*/</span>
		<span class="unitorrange_val" ></span>
		<span class="unitorrange_tip"></span>
		<div class="dropdown shuntsel">
            <div class="input_select set_value set_newval" data-index="" name="Signal_low2Relay" pname="Signal_low2Relay"></div>
            <ul class="language yinc">
                <li><a href="javascript:void(0)" rel="0">/*[ID_NA6]*/</a></li>
                <%
                var list = data.relay_options;
                for(var i=0;i<list.length;i++){  %>
                    <li><a href="javascript:void(0)" rel="<%=list[i][0] %>"><%=list[i][1][lang] %></a></li>
                 <%} 
             %>
            </ul>
        </div>
		<span class="unitorrange"></span>
     </li>
     <li class="popli">
		<span <%if(lang==0){ %> class="signalname_en"<%}else{%>class="signalname_zh"<%} %>>/*[ID_HIGH1_ALARM_LIMIT]*/</span>
		<span class="unitorrange_val" ></span>
		<span class="unitorrange_tip"></span>
		<input class="set_value newval set_newval"  name="Signal_high1Limit" pname="Signal_high1Limit" maxlength="32" Signal_Type="" value="" Signal_ID="" Signal_ValueType="" />
		<span class="unitorrange"></span>
     </li>
     <li class="popli">
		<span <%if(lang==0){ %> class="signalname_en"<%}else{%>class="signalname_zh"<%} %>>/*[ID_HIGH1_ALARM_SEVERITY]*/</span>
		<span class="unitorrange_val" ></span>
		<span class="unitorrange_tip"></span>
		<div class="dropdown shuntsel">
                <div class="input_select set_value set_newval" data-index="" name="Signal_high1Severity" pname="Signal_high1Severity" Signal_Type="" Signal_ID="" Signal_ValueType=""></div>
                <ul class="language yinc">
                     <li><a href="javascript:void(0)" rel="0">/*[ID_NA3]*/</a></li>
                     <li><a href="javascript:void(0)" rel="1">/*[ID_OA3]*/</a></li>
                     <li><a href="javascript:void(0)" rel="2">/*[ID_MA3]*/</a></li>
                     <li><a href="javascript:void(0)" rel="3">/*[ID_CA3]*/</a></li>
                </ul>
         </div>
		<span class="unitorrange"></span>
     </li>
      <li class="popli">
		<span <%if(lang==0){ %> class="signalname_en"<%}else{%>class="signalname_zh"<%} %>>/*[ID_HIGH1_ALARM_RELAY]*/</span>
		<span class="unitorrange_val" ></span>
		<span class="unitorrange_tip"></span>
		<div class="dropdown shuntsel">
            <div class="input_select set_value set_newval" data-index="" name="Signal_high1Relay" pname="Signal_high1Relay"></div>
            <ul class="language yinc">
                <li><a href="javascript:void(0)" rel="0">/*[ID_NA7]*/</a></li>
                <%
                var list = data.relay_options;
                for(var i=0;i<list.length;i++){  %>
                    <li><a href="javascript:void(0)" rel="<%=list[i][0] %>"><%=list[i][1][lang] %></a></li>
                 <%} 
             %>
            </ul>
        </div>
		<span class="unitorrange"></span>
     </li>
       <li class="popli">
		<span <%if(lang==0){ %> class="signalname_en"<%}else{%>class="signalname_zh"<%} %>>/*[ID_HIGH2_ALARM_LIMIT]*/</span>
		<span class="unitorrange_val" ></span>
		<span class="unitorrange_tip"></span>
		<input class="set_value newval set_newval"  name="Signal_high2Limit" pname="Signal_high2Limit" maxlength="32" Signal_Type="" value="" Signal_ID="" Signal_ValueType="" />
		<span class="unitorrange"></span>
     </li>
     <li class="popli">
		<span <%if(lang==0){ %> class="signalname_en"<%}else{%>class="signalname_zh"<%} %>>/*[ID_HIGH2_ALARM_SEVERITY]*/</span>
		<span class="unitorrange_val" ></span>
		<span class="unitorrange_tip"></span>
		<div class="dropdown shuntsel">
                <div class="input_select set_value set_newval" data-index="" name="Signal_high2Severity" pname="Signal_high2Severity" Signal_Type="" Signal_ID="" Signal_ValueType=""></div>
                <ul class="language yinc">
                     <li><a href="javascript:void(0)" rel="0">/*[ID_NA4]*/</a></li>
                     <li><a href="javascript:void(0)" rel="1">/*[ID_OA4]*/</a></li>
                     <li><a href="javascript:void(0)" rel="2">/*[ID_MA4]*/</a></li>
                     <li><a href="javascript:void(0)" rel="3">/*[ID_CA4]*/</a></li>
                </ul>
         </div>
		<span class="unitorrange"></span>
     </li>
      <li class="popli">
		<span <%if(lang==0){ %> class="signalname_en"<%}else{%>class="signalname_zh"<%} %>>/*[ID_HIGH2_ALARM_RELAY]*/</span>
		<span class="unitorrange_val" ></span>
		<span class="unitorrange_tip"></span>
		<div class="dropdown shuntsel">
            <div class="input_select set_value set_newval" data-index="" name="Signal_high2Relay" pname="Signal_high2Relay"></div>
            <ul class="language yinc">
                <li><a href="javascript:void(0)" rel="0">/*[ID_NA8]*/</a></li>
                <%
                var list = data.relay_options;
                for(var i=0;i<list.length;i++){  %>
                    <li><a href="javascript:void(0)" rel="<%=list[i][0] %>"><%=list[i][1][lang] %></a></li>
                 <%} 
             %>
            </ul>
        </div>
		<span class="unitorrange"></span>
     </li>
     <li class="info" id="SetAlarmInfo"></li>
     <li class="btn"><a href="#" hidefocus="true" class="btn_set"  datatype="" low="/*[ID_LOW]*/" high="/*[ID_HIGH]*/"  low2="/*[ID_LOW2]*/" high2="/*[ID_HIGH2]*/"><i>/*[ID_SET]*/</i></a></li>
</ul>
</form>'>
<%
       var Shuntlist = data.PowerSystem;
       var hash = {};
       var c = 0;
       var nodatas = data.PowerSystem.COMMON_ANALOG;
       var nodataText = "/*[ID_NO_DATA]*/";
       var showsmdue=0;
       for(var item in Shuntlist){
           if(Shuntlist[item].length > 0){
               for ( var i = 0; i < Shuntlist[item].length; i++) {
                 //去除json数组里面重复情况
                 (hash[Shuntlist[item][i]] == undefined) && (hash[Shuntlist[item][i][1]]=Shuntlist[item][i][1]);
               }
               for(var o in hash){
                  cid=o.split(',')[0];
                  for(var m = 0;m < Shuntlist[item].length; m++){
                     if(Shuntlist[item][m][1]==cid){
                         var hidesmdue=0;
                         var signalcount=0
                         for(var t = 0,ilen=Shuntlist[item].length;t < ilen ; t++){
                            if(Shuntlist[item][t][1]==cid){
                                if(Shuntlist[item][t][4]!=0){
                                    hidesmdue++
                                }
                                signalcount++
                            }
                         }
                         if(hidesmdue!=signalcount){
                         showsmdue=1;
                         var isZK = (jQuery.inArray(c,Configs.PowerSystem)=="-1") ? false : true;
 %>
<div class="table-container<%if(!isZK){ %> border-bn <%} %>">
    <div class="table-title table-ex"><span class="<%if(!isZK){ %>title-zk<%} else { %>title-sl<%} %>"><i></i><%=Shuntlist[item][m][5][lang]%></span></div>
        <div class="table-list padding-tn table-content" index="<%=c %>" <%if(jQuery.inArray(c,Configs.PowerSystem)!="-1"){ %> style="display:block;" <%} %> >
        <form action="" method="post">
            <div class="table">
                <div class="table-body">
                      <% 
                         for(var j = 0,ilen=Shuntlist[item].length;j < ilen ; j++){
                             if(Shuntlist[item][j][1]==cid){
                                 var jStr=jQuery.toJSON(Shuntlist[item][j]);
                                 c++;
                                 if(Shuntlist[item][j][4]==0){
                                 var isZK = (jQuery.inArray(c,Configs.PowerSystem)=="-1") ? false : true;
                       %>
                       
                       <div class="table-body-title table-ex"><span class="<%if(!isZK){ %>title-zk<%} else { %>title-sl<%} %>"><i></i><%=Shuntlist[item][j][6][0]%></span></div>
                       <div class="table-content" index="<%=c %>" <%if(isZK){ %> style="display:block;" <%} %> data="">
                       <ol>
                            <li class="t-1"><strong class="left pl">/*[ID_REFERENCE]*/</strong></li>
                            <li class="t-2"><strong class="left pl">/*[ID_SIGNALFULLNAME]*/</strong></li>
                            <li class="t-3"><strong <%if(lang==0){ %>class="pl mglt_en"<%}else{ %>class="pl mglt"<%} %> >/*[ID_MODIFY]*/</strong></li>
                        </ol>
                       <%
                          var x=0;
                          var control_type;
                          var settitle;
                          var settitleindex;
                          for(var n = 0;n<Shuntlist[item][j][8].length; n++){
                            //1.判断Voltage是否显示;2.判断Voltage Transducer是否显示;3.判断Current Transducer是否显示
                            if((Shuntlist[item][j][8][n][2]>=41&&Shuntlist[item][j][8][n][2]<=50&&Shuntlist[item][j][8][n][3]==1)||(Shuntlist[item][j][8][n][2]>=121&&Shuntlist[item][j][8][n][2]<=130&&Shuntlist[item][j][8][n][3]==3)||(Shuntlist[item][j][8][n][2]>=111&&Shuntlist[item][j][8][n][2]<=120&&Shuntlist[item][j][8][n][3]==2)){
                                 x++;
                                if(Shuntlist[item][j][8][n][2]>=41&&Shuntlist[item][j][8][n][2]<=50){
                                    control_type=26
                                    settitle="/*[ID_VOLTAGE]*/"
                                    settitleindex=Number(Shuntlist[item][j][8][n][2])-40
                                }else if(Shuntlist[item][j][8][n][2]>=121&&Shuntlist[item][j][8][n][2]<=130){
                                    settitle="/*[ID_VOLTRAN]*/"
                                    settitleindex=Number(Shuntlist[item][j][8][n][2])-120
                                    control_type=27
                                }else{
                                    settitle="/*[ID_CURTRAN]*/"
                                    settitleindex=Number(Shuntlist[item][j][8][n][2])-110
                                    control_type=28
                                }
                        %>
                            <ul class= "<%if((x-1)%2==0){%> gray <%if((x-1)==ilen-1){ %> bottom_line <%}}else{ %><%if((x-1)==ilen-1){ %> bottom_line2 <%}} %>"  id="<%=Shuntlist[item][j][0] %>_<%=Shuntlist[item][j][2] %>_<%=Shuntlist[item][j][3] %>_<%=j%>">
                                <li class="t-1"><span class="left pl"><%=settitle %><%=settitleindex %></span></li>
                                <li class="t-2"><span class="left pl"><%=Shuntlist[item][j][8][n][4][lang] %></span></li>
                                <li class="t-3"><a href="javascript:void(0)" hideFocus="true"class="btn_mod" 	post="language_type=<%=lang %>&equip_ID=<%=Shuntlist[item][j][1]%>&signal_type=<%=Shuntlist[item][j][2]%>&signal_id=<%=Shuntlist[item][j][3]%>&control_value=&control_type=<%=control_type %>" modifydatas='{<%=item %>:<%=jStr %>}' template='' lang='<%=lang %>'SignaType='<%=Shuntlist[item][j][8][n][2] %>'><i>/*[ID_MODIFY2]*/</i></a></li>
                            </ul>
                        <%}}%> 
                     </div>
                     
                     <% }}}%>
                </div>
            </div>
            </form>
    </div>
</div>
<% c++;break;}}}}}}
   if(nodatas==1&&showsmdue==0){ %>
       <div class='is-empty system-no-data'><%=nodataText %></div>
    <%}%>
</div>
</body></html>