<!DOCTYPE html><html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head><body>
<%var lang = args["language_type"]; %>
    <div class="mydistri_home">
        <div class="mydistri_title">
        /*[ID_DISTRITITLE]*/
        </div>
        <div class="mydistri_set">
            <a href="#"  class="set"></a>
        </div>
        
        <div class="panel_map">
            <img src="../images/panelmap.png" alt="" />
        </div>
        <a data='{"template":"tmp.panelfeed_tabs.html,tmp.panel_info.html","menuIndex":"2","fn":"false,setting_panel","currentMenu":"tabpanelinfo","render":"artTemplate"}' hidefocus="true" href="#" class="panel_info"><span>/*[ID_PANEL]*/</span></a>
        <a data='{"template":"tmp.panelfeed_tabs2.html,tmp.feed_info.html","menuIndex":"2","fn":"false,setting_feed","currentMenu":"tabfeedinfo","render":"artTemplate"}' hidefocus="true" href="#" class="feed_info"><span>/*[ID_FEED]*/</span></a>
    </div>
</body>
</html>
