<!DOCTYPE html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head><body>
	<%
		var lang = args["language_type"];   
	    var X = data.X_Axis>30 ? 30 : data.X_Axis;
	    var Y = data.Y_Axis>20 ? 20 : data.Y_Axis;
	%>
	<div id="ConsumptionMap">
		<%
				var total = X*Y;
				var dataLength = data.element.length;
				total = total > dataLength ? dataLength : total; 
				var ix = X>dataLength? dataLength : X;
				var width = ix*84+3;
				var iy = window.Math.ceil(dataLength/X);
				iy = iy>Y ? Y : iy;
				var height = iy*90;
				var mh = jQuery("#mainBody").height()-50;
				var mt = height/2;
				var ml = width/2;
				var iscenter = 1;
				var mtop = "50%";
				var mleft = "50%";
				if(height>mh){
					mt = 0;
					mtop = "10px";
					iscenter = 0;
				}
		%>
		<div class="consumption-maps" style="width:<%=width%>px;">
			<ul class="clearfix" id="ConsumptionMapList" maxwidth="<%=width%>" iscenter="<%=iscenter%>" <%if(ix<=9){%> isabsoulte ="1" style="width:<%=width%>px;height:<%=height%>px; margin:-<%=mt%>px auto auto -<%=ml%>px;top:<%=mtop%>;left:<%=mleft%>;position:absolute;" <%}%>>
				<%
				for(var i=0; i<total; i++){ 
					var ColorsIndex = 0;
					if(data.element[i][0]==1){
						ColorsIndex = data.element[i][1]+1;
					}
					%>
					<li class="c_<%=ColorsIndex%><%if(ColorsIndex==0){%> off<%}%>" <%if((i+1)%X==0){%>style=" float:none;_left:-3px;"<%}%> index="<%=i %>">
						<%if(ColorsIndex!=0){%>
							<em <%if(ColorsIndex==4){%>class='h'<%}%>><%=data.element[i][2]%></em>
							<span <%if(ColorsIndex==4){%>class='h'<%}%>><%=data.element[i][4]%></span>
							<a href="#" <%if(ColorsIndex==4){%>class='h'<%}%>></a>
						<%}%>
					</li>
				<%} %>
			</ul>
		</div>
		<% 
		var SignalNames = [
			"/*[ID_TIPS1]*/",
			"/*[ID_TIPS2]*/",
			"/*[ID_TIPS3]*/",
			"/*[ID_TIPS4]*/",
			"/*[ID_TIPS5]*/",
			"/*[ID_TIPS6]*/",
			"/*[ID_TIPS7]*/"
		];
		%>
		<div id="popup" class="popup system-popup consumption-map-popup" style="<%if(Configs.Popup.status){%> display:block; <%=Configs.Popup.Style[0]%><%}%>" template='{{ var lang = jQuery.cookie("language_type"); }}
						<div class="popup-arrow-top"></div>
						<div class="popup-content">
							<dl class="popup-dl">
								{{ 
									var data = it.list[it.index]; 
									var SignalNames = window.Language["consumption_map"]["tips"];
								}}
								<dt>{{=data[2]}}</dt>
								{{for(var j=3,jlen=data.length; j<10; j++){ }}
								<dd><em>{{=data[j] }}</em><span>{{=SignalNames[j-3]}}</span></dd>
								{{ }; }}
							</dl>
						</div>
						<div class="popup-arrow"></div>'>
						<%
						if(Configs.Popup.status){
						var singleData = data.element[Configs.Popup.index];
						if(singleData){
						if(Configs.Popup.Arrow=="top"){%>
						<div class="popup-arrow-top"  style="<%=Configs.Popup.Style[1]%>"></div>
						<%}%>
						<div class="popup-content">
							<dl class="popup-dl">								
								<dt><%=singleData[2]%></dt>
								<%for(var j=3,jlen=singleData.length; j<10; j++){ %>
								<dd><em><%=singleData[j] %></em><span><%=SignalNames[j-3]%></span></dd>
								<% }; %>
							</dl>
						</div>
						<%if(Configs.Popup.Arrow=="bottom"){%>
						<div class="popup-arrow" style="<%=Configs.Popup.Style[1]%>"></div>
						<%}%>
						<a href="#" id="BtnPopupClose" class="popup-close <%if(Configs.Popup.Arrow=="top"){%>popup-close-t<%}else{%> popup-close-b<%}%>"></a>
						<%};}%>
		</div>
	</div>
</body></html>
<%
window.Language["consumption_map"] = {
	"tips":SignalNames
};
%>
