﻿<!DOCTYPE html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head><body>
<%var args= it.args,data = it.data ? it.data : it;%>
<div class="table-container margin-n" id="SetRestoreDefault">                    
    <div class="table-title"><span>/*[ID_HEAD]*/</span></div>
        <div class="table-list padding-tn">
        <form action="../cgi-bin/web_cgi_control.cgi" id="settingForm" method="post">
        <div class="table">
            <div class="table-info">/*[ID_TIPS0]*/</div>
            <div class="table-body" style="padding:30px 0 10px 240px;">
                 <a href="#" class="btn_2" id="btn_restore" style="margin:0 0 0 15px"><span>/*[ID_RESTORE_DEFAULT]*/</span></a>
                 <a href="#" class="btn_2" id="btn_reboot" style="margin:0 0 0 15px"><span>/*[ID_START_SCUP]*/</span></a>
            </div>
        </div>
        </form>
    </div>
</div>
<%
Pages.Int = function (data) {
    var that = this;
    var form = $("#settingForm");
    $("#btn_restore").off().on("click",function(){
        if(confirm("/*[ID_TIPS1]*/" )){
            SendForm(10,"/*[ID_TIPS5]*/");
        };
        return false;
    });
    $("#btn_reboot").off().on("click",function(){
        if(confirm("/*[ID_TIPS3]*/" )){
           SendForm(11,"/*[ID_TIPS6]*/");
        };
        return false;
    });
    function SendForm(type,text){
        var posts ="equip_ID=-2&signal_type=-2&signal_id=-2&control_value=-2&control_type="+type+"&sessionId="+data.args["sessionId"]+"&language_type="+data.args["language_type"];
        that.SetProcess(text);
        var XHR = $.ajax({
            timeout: 10000,
            url: form.attr("action") + "?_=" + new Date().getTime(),
            data: posts,
            success: function (data, textStatus, jqXHR) {
                try {
                    var data = jQuery.evalJSON(data);
                } catch (err) {
                    that.SetProcessDone(Language.Html["001"]);
                    return false;
                }
                if(data.status==98){
                   that.SetProcessDone(Language.Html['019']+Configs.Prompt.relogin);
                } else {
                    that.DoRestart();
                }
            },
            error: function (data, textStatus) {
                that.DoRestart();
            }
        }).always(function (jqXHR, textStatus, errorThrown) {
            jqXHR = null;
            textStatus = null;
            errorThrown = null;
            XHR = null;
        });
    };
    Configs.Data.polling = false;
};
 %>
</body></html>
