<!DOCTYPE html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head><body>
<%var lang = args["language_type"]; %>
<div id="mainBody">
<div id="Set_Relay" template='<form action="../cgi-bin/web_cgi_control.cgi" id="settingForm" method="post"><ul class="popul">
                <li id="SetDIAlarmFullName" class="popli"><span>/*[ID_TIPS1]*/:</span><label></label>
					 <input class="set_value" name="sSignalName_en" pname="sSignalName_en" maxlength="20"/>
					 <label class="inputtip"><%if(lang==0){%>/*[ID_INPUTTIP]*/<%}else{ %>/*[ID_INPUTTIP4]*/<%} %></label>
                </li>
                 <li class="info" id="SetAlarmInfo"></li>
                 <li class="btn"><a href="#" hidefocus="true" class="btn_set"><i>/*[ID_SET]*/</i></a></li>
            </ul></form>'>
 <div class="table-container">
  <div class="table-title"><span>/*[ID_DO_RELAY]*/</span></div>
   <div class="table-list padding-tn">
   <form action="../cgi-bin/web_cgi_control.cgi" id="settingForm_DI"  method="post">
         <div class="table">
             <div class="table-header">
                    <ul>
                        <li class="t-1"><strong class="left pl">/*[ID_SIGNAL_NAME]*/</strong></li>
                        <li class="t-2"><strong class="left pl">/*[ID_VALUE]*/</strong></li>
                        <li class="t-3"><strong class="left pl">/*[ID_SET_VALUE]*/</strong></li>
                        <li class="t-4 ups"><strong class="left pl set">/*[ID_SET1]*/</strong></li>
                        <li class="t-5 upd"><strong class="left pl update">/*[ID_MODIFY]*/</strong></li>
                    </ul>
                </div>
                 <div class="table-body">
                    <%
                              var DORelaylist=data.RELAY.DO;
                              if(DORelaylist.length>0){
                               for(var i=0,ilen=DORelaylist.length;i<ilen;i++){
                       %>
                                 <ul class= "<%if(i%2==0){%> gray <%if(i==ilen-1){ %> bottom_line <%}}else{ %><%if(i==ilen-1){ %> bottom_line2 <%}} %>">
                                     <li class="t-1"><span class="left pl"><%=DORelaylist[i][8][lang]%></span></li>
                                     <li class="t-2">
                                     <%
                                     if(DORelaylist[i][3]==0||DORelaylist[i][3]==1||DORelaylist[i][3]==2){
                                        var modelindex=DORelaylist[i][3];
                                     %>
                                        <span class="left pl">
                                            <%=DORelaylist[i][10][modelindex][lang]%>
                                        </span>
                                        <%}else{%>
                                        <span class="left pl">
                                            <%=DORelaylist[i][3]%><%=DORelaylist[i][6]%>
                                        </span>
                                        <%}%>
                                     </li>
                                     <li class="t-3">
                                        <span class="left pl text selectsp">
                                       <% if(DORelaylist[i][10].length>1){%> 
                                            <div class="dropdown">
                                                <div class="input_select set_value" data-index=""><%=DORelaylist[i][10][0][lang] %></div>
                                                    <ul class="language yinc">
                                                    <%for(var t=0;t<DORelaylist[i][10].length;t++){%>
                                                        <li><a href="javascript:void(0)" rel="<%=t %>" ><%=DORelaylist[i][10][t][lang] %></a></li>
                                                    <%} %>
                                                </ul>
                                            </div>
                                        <%}else{ %>
                                           <input class="set_value" type="text" value="" validate='{"type":<%=DORelaylist[i][5] %>,"range":[<%=DORelaylist[i][10][0][0]%>,<%=DORelaylist[i][10][0][1]%>]}' /><i><%=DORelaylist[i][10][0][0]%>-<%=DORelaylist[i][10][0][1]%></i>
                                        <%} %>
                                        </span>
                                     </li>
                                     <li class="t-4">
    <a href="javascript:void(0)" hideFocus="true" value="<%=DORelaylist[i][3]%>" <%if(DORelaylist[i][4]==0){%>class="btn_set btn_set_disabled"<%}else{%>class="btn_set" 	post="equip_ID=<%=DORelaylist[i][0]%>&signal_type=<%=DORelaylist[i][1] %>&signal_id=<%=DORelaylist[i][2] %>&value_type=<%=DORelaylist[i][5] %>&control_type=1" <%} %>>
                                         <i>/*[ID_SET2]*/</i>
                                        </a>
                                     </li>
                                </ul>
                         <%} }%>
                 </div>
         </div>
         </form>
   </div>
 </div>
</div>
 <% 
    var Relaylist = data.RELAY.NCU;
    if(Relaylist.length > 0){
       var hash = [];
       for ( var i = 0; i < Relaylist.length; i++) {
         
         if((hash[Relaylist[i]] == undefined) && (Relaylist[i][0]=Relaylist[i][0])){
            hash.push(Relaylist[i][0]);
         }
       }
       //去除数组里面重复情况
    var res = [];
    var json = {};
    for (var i = 0; i < hash.length; i++) {
        if (!json[hash[i]]) {
            res.push(hash[i]);
            json[hash[i]] = 1;
        }
    }
       for(var o=0;o<res.length;o++){
         cid=res[o];
          for(var m = 0;m < Relaylist.length; m++){
             if(Relaylist[m][0]==cid){%>
                 <div class="table-container table-relay">
                     <div class="table-title"><span><%if(Relaylist[m][7][lang]=="/*[ID_DO_POEWRSYSTEM]*/"){%>/*[ID_DO_NCU]*/<%}else{ %> <%=Relaylist[m][7][lang]%><%} %></span></div>
                        <div class="table-list padding-tn">
                        <form action="../cgi-bin/web_cgi_control.cgi" method="post">
                             <div class="table">
                                 <div class="table-body">
                                       <% 
                                        for(var j = 0,ilen=Relaylist.length;j < ilen; j++){
                                           if(Relaylist[j][0]==cid){
                                           %>
                                               <ul class= "<%if(j%2==0){%> gray <%if(j==ilen-1){ %> bottom_line <%}}else{ %><%if(j==ilen-1){ %> bottom_line2 <%}} %>">
                                                   <li class="t-1"><span class="left pl"><%=Relaylist[j][8][lang]%></span></li>
                                                    <li class="t-2">
                                                   <%if(Relaylist[j][3] == 1){%>
                                                       <span class="left pl"><%=Relaylist[j][10][1][lang]%> 
                                                       </span>
                                                   <%}else{%>
                                                       <span class="left pl"><%=Relaylist[j][10][0][lang] %>
                                                       </span>
                                                   <%} %>
                                                   </li>
                                                    <li class="t-3">
                                                   <span class="left pl radio">
                                                        <fieldset class="set_value">
                                                        <%
                                                            for(var n=0;n<Relaylist[j][10].length;n++){
                                                             var inputValue = (Relaylist[j][10].length==1)? 1: n;
                                                         %>
                                                        <div name="control_<%=j %>" value="<%=inputValue%>" <%if(n==Relaylist[j][3]){%>class="radiodiv"<%}else{%>class="radiodiv radiodivnot"<%}%>><label><%=Relaylist[j][10][n][lang]%></label></div>
                                                        <%} %>
                                                        
                                                        </fieldset>
                                                   </span>
                                                   </li>
                                                   <li class="t-4 sbtn">
                                                    <a href="#" hideFocus="true" <%if(Relaylist[j][4]==0){%>class="btn_set btn_set_disabled"<% }else{%>class="btn_set" 	post="equip_ID=<%=Relaylist[j][0]%>&signal_type=<%=Relaylist[j][1] %>&signal_id=<%=Relaylist[j][2] %>&value_type=<%=Relaylist[j][5] %>&control_type=1" <%} %>><i>/*[ID_SET3]*/</i></a></li> 
                                                   <li class="t-5 mbtn"><a href="javascript:void(0)" hideFocus="true" value="<%=Relaylist[j][3] %>" class="btn_mod" post="language_type=<%=lang %>&equip_ID=<%=Relaylist[j][0]%>&signal_type=<%=Relaylist[j][1]%>&signal_id=<%=Relaylist[j][2]%>&control_value=&control_type=0" modifydatas='{"sSignalName_en":"<%=Relaylist[j][8][lang]%>"}' ><i>/*[ID_MODIFY1]*/</i></a></li>
                                                   </ul>   
                                          <% }}
                                      %>
                                       
                                 </div>
                              </div>
                              </form>
                         </div>
                    </div>
           <%  break;}} }}%>
 </div>
</body>
</html>