<!DOCTYPE html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head><body>
<%var args= it.args, data = it.data ? it.data : it;%>
<div class="TL1-signal-summary">
    <p><strong>/*[ID_TIPS5]*/</strong></p>
    <span><strong>/*[ID_AID_GROUP]*/:</strong>
        <div class="dropdown">
            <div class="input_select set_value" data-index="0" name="AID_Group" id="AID_Group">/*[ID_TIPS3]*/</div>
            <ul class="language yinc">
            <%for(var e=0,elen=data.content.length; e<elen; e++){ %>                     
                 <li><a href="javascript:void(0)" rel="<%=data.content[e][0] %>"><%=data.content[e][1]%></a></li>
            <%} %>
            </ul>
        </div>
        <strong>/*[ID_EQUIP_LIST]*/:</strong>
        <div class="dropdown">
            <div class='input_select set_value' data-index="-1" name='AID_Equip' id='AID_Equip' ></div>
        </div>
        <strong>/*[ID_AID_PREFIX]*/:</strong>
        <strong id="aid_prefix"></strong>
    </span>
</div>
<div id="Setting_TL1_Signal">
      <div class="table-container" style="margin:0; ">
          <div class="table-title"><span id="TL1_signal_title">/*[ID_TIPS1]*/</span></div>
          <div class="table-list" id="SignalList" style="min-height:100px; position:relative;" template='
            {{ var args= it.args,data = it.data ? it.data : it; }}
            <div class="table">
               <!-- <div class="table-header">
                    <ul>
                        <li class="t-1">&nbsp;</li>
                        <li class="t-2"><strong class="left pl">/*[ID_AID_INDEX]*/</strong></li>
                        <li class="t-3"><strong class="left pl">/*[ID_AID_NAME]*/</strong></li>
                    </ul>
                </div>-->
                <div class="table-body">
                    {{ for(var i=0,ilen=data.content.length; i<ilen; i++){
                        var signal_index = data.content[i][0];
                        var signal_name = data.content[i][1];
                        var signal_namesub=data.content[i][1];
                        if(signal_name.length>21){
                            signal_namesub=signal_name.substring(0,21)+"...";
                        }
                        var SigActive = data.content[i][2];
                        var SampleSig = data.content[i][3];
                        var AlarmSig = data.content[i][4];
                        var SettingSig = data.content[i][5];
                        var CondType = data.content[i][6];
                        var CondDesc = data.content[i][7];
                        var NotificationCode = data.content[i][8];
                        var ServiceAffectCode = data.content[i][9];
                        var MonitorFormat = data.content[i][10];
                        var MonitorType = data.content[i][11];
                        
                        var datas = "\{\"_signal_index\":\""+$.trim(signal_index)+"\",\"_signal_name\":\""+$.trim(signal_name)+"\",\"_SigActive\":\""+$.trim(SigActive)+"\",\"_SampleSig\":\""+$.trim(SampleSig)+"\",\"_AlarmSig\":\""+$.trim(AlarmSig)+"\",\"_SettingSig\":\""+$.trim(SettingSig)+"\",\"_CondType\":\""+$.trim(CondType)+"\",\"_CondDesc\":\""+$.trim(CondDesc)+"\",\"_NotificationCode\":\""+$.trim(NotificationCode)+"\",\"_ServiceAffectCode\":\""+$.trim(ServiceAffectCode)+"\",\"_MonitorFormat\":\""+$.trim(MonitorFormat)+"\",\"_MonitorType\":\""+$.trim(MonitorType)+"\"}";
                        }}
                        <ul>
                       <!-- <li class="t-1"><span class="left pl"><input type="radio" value="" name="signalSelect" class="selected"></span></li>
                        <li class="t-2"><span class="left pl">{{=signal_index }}</span></li>-->
                        <li class="t-3"><span class="left pl" title="{{=signal_name}}">{{=signal_namesub }}</span></li>
                        <li style="display:none"><span class="signal_attr">{{=datas }}</span></li>
                        </ul>
                    {{} }}
                </div>

            </div>'></div>
      </div>
</div>
<div class="set-form-TL1-signal clearfix">
<div class="table-title"><span id="TL1_signal_parameter">/*[ID_TIPS2]*/</span></div>
                    <form action="../cgi-bin/web_cgi_setting.cgi" id="SignalForm" method="POST">
                        <p><label>/*[ID_ACTIVE]*/:</label><input type="checkbox" name="_SigActive" id="_SigActive" style="width:auto; vertical-align:middle;"></p>
                        <p><label>/*[ID_SAMPLE]*/:</label><input name="_SampleSig" id="_SampleSig" type="text" maxLength="32" disabled="disabled" class="set_disabled"/></p>
                        <p><label>/*[ID_ALARM]*/:</label><input name="_AlarmSig" id="_AlarmSig" type="text" maxLength="32" disabled="disabled" class="set_disabled"/></p>
                        <p><label>/*[ID_SETTING]*/:</label><input name="_SettingSig" id="_SettingSig" type="text" maxLength="32" disabled="disabled" class="set_disabled"/></p>
                        <p><label>/*[ID_CON_TYPE]*/:</label><input name="_CondType" id="_CondType" type="text" maxLength="20"/></p>
                        <p><label>/*[ID_CON_DESC]*/:</label><input name="_CondDesc" id="_CondDesc" type="text" maxLength="32"/></p>
                        <span><label>/*[ID_NOTI_CODE]*/:</label>
                            <div class="dropdown">
                                <div class="input_select set_value" name="_NotificationCode" id="_NotificationCode" data-index="0">NA</div>
                                <ul class="language yinc">
                                     <li><a href="javascript:void(0)" rel="0">NA</a></li>
                                     <li><a href="javascript:void(0)" rel="1">MN</a></li>
                                     <li><a href="javascript:void(0)" rel="2">MJ</a></li>
                                     <li><a href="javascript:void(0)" rel="3">CR</a></li>
                                </ul>
                            </div>
                         </span>
                         <span><label>/*[ID_SERV_CODE]*/:</label>
                            <div class="dropdown">
                                <div class="input_select set_value" name="_ServiceAffectCode" id="_ServiceAffectCode" data-index="0">SA</div>
                                <ul class="language yinc">
                                     <li><a href="javascript:void(0)" rel="0">SA</a></li>
                                     <li><a href="javascript:void(0)" rel="1">NSA</a></li>
                                </ul>
                            </div>
                         </span>
                            <span><label>/*[ID_MONI_FORT]*/:</label>
                            <div class="dropdown">
                                <div class="input_select set_value" name="_MonitorFormat" id="_MonitorFormat" data-index="0">SA</div>
                                <ul class="language yinc">
                                     <li><a href="javascript:void(0)" rel="0">Decimal</a></li>
                                     <li><a href="javascript:void(0)" rel="1">Integer</a></li>
                                </ul>
                            </div>
                           </span>
                            <p><label>/*[ID_MONI_TYPE]*/:</label><input name="_MonitorType" id="_MonitorType" type="text" maxLength="10"/></p>
                            <p><a href="#" hideFocus="true" class="btn_2_disabled modify"  style="left:25px;"><span>/*[ID_SUBMIT]*/</span></a></p>
                    </form>
                </div>
</body></html>
<%
Language["setting_signal"] = {
	"errors":[
	"/*[ID_TL1_ERRORS1]*/",		/*[0]"Successful."*/
	        "/*[ID_TL1_ERRORS2]*/",		/*[1]"Configuration fail."*/
	        "/*[ID_TL1_ERRORS3]*/",		/*[2]"Failed. Service was exited."*/
	        "/*[ID_TL1_ERRORS4]*/",		/*[3]"Invalid parameters."*/
	        "/*[ID_TL1_ERRORS5]*/",		/*[4]"Invalid parameters."*/
	        "/*[ID_TL1_ERRORS6]*/",		/*[5]"Fail to write to Flash."*/
	        "/*[ID_TL1_ERRORS7]*/",		/*[6]"Service is busy."*/
	        "/*[ID_TL1_ERRORS8]*/",		/*[7]"Port has already been occupied."*/
	        "/*[ID_TL1_ERRORS9]*/",		/*[8]"Port has already been occupied."*/
	        "/*[ID_TL1_ERRORS10]*/",		/*[9]"Port has already been occupied."*/
	        "/*[ID_TL1_ERRORS11]*/",		/*[10]"Port has already been occupied."*/
	        "/*[ID_TL1_ERRORS12]*/",		/*[11]"The TL1 feature is not available."*/
        "/*[ID_ERROR3]*/",		/*[12]"Insufficient privileges for this function."*/
        "/*[ID_ERROR4]*/",		/*[13]"Invalid characters."*/
        "/*[ID_ERROR5]*/"		/*[14]"Can't be empty."*/
	],
	"tips":[
		"/*[ID_TIPS4]*/"			/*[0]"Please Select"*/
	]
};
%>
