﻿<!DOCTYPE html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head><body>
<%var lang = args["language_type"];  %>
<div id="mainTab">
    <a class="currentMenu" data='{"data":"/var/datas/data.system_inventory.html","template":"tmp.system_inventory.html","render":"artTemplate"}' hidefocus="true" href="#">
    <span>/*[ID_INVENTORY]*/</span>
    </a>
</div>
<div class="extbackground">
<div class="mainBody" id="mainBody">
   <div class="table-container" style="position:relative;">
       <div class="table-title system_inv_title">
            <span>/*[ID_INVENTORY2]*/</span>
       </div>
       <table border="0" cellpadding="0" cellspacing="0" class="table-a" id="InventoryTable">
				<thead>
                <tr>
                    <th style="padding-left:30px;">/*[ID_EQUIP]*/</th>
                    <th style="width:120px;">/*[ID_MODEL]*/</th>
                    <th style="width:120px;">/*[ID_REVISION]*/</th>
                    <th style="width:120px;">/*[ID_SERIAL]*/</th>
                    <th style="width:120px;">/*[ID_SOFT_REVISION]*/</th>
                </tr>
				</thead>
                <tbody>
				<%if(data.inventory && data.inventory.length){
				    for(var i=0,ilen=data.inventory.length; i<ilen; i++){ %>
				        <tr <%if(i%2==0){ %>class="gray2"<%}else{ %>class="gray3"<%} %>><%if(data.inventory[i] && data.inventory[i].length){
				                for(var j=0,jlen=data.inventory[i].length; j<jlen; j++){ %>
				                    <%if(j==0){%>
				                        <td style="padding-left:30px;"><%=data.inventory[i][j][lang] %></td>
				                    <%} else { %>
				                        <td><%=data.inventory[i][j] %></td>
				                    <%}; }; } %>
				       </tr><%};} %>
            </tbody>
        </table>
</div>
</div>
</div>
</body></html>
