﻿<!DOCTYPE html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head><body>
<%var args= it.args,data = it.data ? it.data : it;%>
<div id="Set_Time_Sync">
<!--当前页面数据在回调函数中填充-->
  <div class="table-container">                    
    <div class="table-title"><span>/*[ID_TIME_HEAD]*/</span></div>
      <div class="table-list padding-n">
        <form action="../cgi-bin/web_cgi_setting.cgi" method="POST" id="settingForm" name="settingForm">  
          <input type="hidden" name="_modify_configure" value="4">
          <input type="hidden" name="language_type" value="0">
          <input type="hidden" name="_time_zone" value="-28800" id="_time_zone">
          <input type="hidden" name="sessionId" value="<%=args['sessionId'] %>">
        </form>
        <div style="margin-bottom:10px;">
            <table cellspacing="0" cellpadding="0" class="table-b">
                <tbody>
                    <tr>
                    <td colspan="2"><span class="radio"><div name="_use_time_server" value="2" class="radiodiv"></div><!--<input type="radio" value="2" name="_use_time_server" checked = "checked"  style="*margin-top:10px"/>--></span><strong>/*[ID_SPECIFY_TIME]*/</strong></td>
                </tr>
                <tr>
                    <td style="width:22%"><p class="left padding-rn">/*[ID_DATE_TIME]*/:</p></td>
                    <td><p class="left  text" ><input type="text" value="" name="_current_date_time" id="_current_date_time" class="select_2" maxlength="19" /></p><a href="#" class="btn_2" id="getLocalTime" style="margin:2px 0 0 15px"><span>/*[ID_GET_TIME]*/</span></a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <table cellspacing="0" cellpadding="0" class="table-b">                            
            <tbody>
                <tr>
                    <td style="width:22%;" colspan="2"><p class="left padding-rn"><strong>/*[ID_ZONE]*/:</strong></p></td>
                </tr>
                <tr>
                    <td style="width:22%;"><p class="left padding-rn"><strong>&nbsp;</strong></p></td>
                    <td><p class="left  text" style="padding-bottom:5px;"><input type="text" value="GMT+08:00" name="a_time_zone" id="a_time_zone" /><a href="#" class="btn_2" id="getLocalZone" style="float:left; margin:0 0 0 10px"><span>/*[ID_GET_ZONE]*/</span></a></p></td>
                </tr>
                <tr>
                    <td colspan="2"><span class="radio"><div name="_use_time_server" value="1" class="radiodiv radiodivnot"></div><!--<input type="radio" value="1" name="_use_time_server"  style="*margin-top:10px" />--></span><strong>/*[ID_SELECT1]*/</strong></td>
                </tr>
                <tr>
                    <td style="width:22%"><p class="left padding-rn">/*[ID_PRIMARY_SERVER]*/:</p></td>
                    <td><p class="left  text"><input type="text" value="" name="_time_server1" id="_time_server1" class="select_1" /></p></td>
                </tr>
                <tr>
                    <td><p class="left padding-rn">/*[ID_SECONDARY_SERVER]*/:</p></td>
                    <td><p class="left  text"><input type="text" value="" name="_time_server2" id="_time_server2"  class="select_1" /></p></td>
                </tr>
                <tr>
                    <td><p class="left padding-rn">/*[ID_TIMER_INTERVAL]*/:</p></td>
                    <td><p class="left text"><input type="text" value="" name="_interval_adjust" id="_interval_adjust" class="select_1" style="margin-right:5px;" /><span style="display:inline-block;margin-top: 3px;">/*[ID_MINUTE]*/</span></p></td>
                </tr>          
                  <tr>
                <td colspan="2" class="btn" style="text-align:center; padding:20px 0 0 0; "><a href="#" hideFocus="true" class="btn_2" id="_bnt_time"><span>/*[ID_SUBMIT]*/</span></a></td>
                </tr>
            </tbody>                        
        </table>
    </div>
  </div>
</div>
</body></html>
<%
Language["setting_time_sync"] = {
	"errors":[
		"/*[ID_ERROR0]*/",	/*[0]"Unknown error!"*/
	    "/*[ID_ERROR1]*/",	/*[1]"Success!"*/
	    "/*[ID_ERROR2]*/",	/*[2]"Failure, incorrect time setting!"*/
	    "/*[ID_ERROR3]*/",	/*[3]"Failure, no required authority !"*/
	    "/*[ID_ERROR4]*/",	/*[4]"Failure, incomplete information!"*/
	    "/*[ID_ERROR5]*/"	/*[5]"Failure, ACU is hardware protected"*/
	],
	"tips":[
		"/*[ID_TIPS0]*/",	/*[0]"Primary Server IP Address is incorrect. \nShould be in format 'nnn.nnn.nnn.nnn'."*/
		"/*[ID_TIPS2]*/",	/*[1]"Incorrect time interval. \nTime interval should be a positive integer."*/
		"/*[ID_TIPS6]*/",	/*[2]"Date must be set between '1970/01/01 00:00:00' and '2038/01/01 00:00:00'."*/
		"/*[ID_TIPS8]*/",	/*[3]"Incorrect date and time format."*/
		"/*[ID_TIPS9]*/"	/*[4]"Please clear the IP address before setting the time."*/
	]
};
%>
