﻿<!DOCTYPE html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head><body>
<%var lang = args["language_type"]; %>
<div id="SetDIAlarm" template='<form action="../cgi-bin/web_cgi_control.cgi" id="settingForm" method="post"><ul class="popul">
                <li id="SetDIAlarmFullName" class="popli"><span>/*[ID_TIPS1]*/:</span>
					 <input class="set_value" name="signal_new_name" pname="signal_new_name" maxlength="32" style="left:15px;width:145px"/>
                </li>
				 <li id="SetDIAlarmAbbrName" class="popli"><span>/*[ID_TIPS2]*/:</span>
					 <input class="set_value" name="signal_new_abbr_name" pname="signal_new_abbr_name" maxlength="15"style="left:15px;width:145px"/>
                </li>
                <li class="popli"><span>/*[ID_TIPS3]*/:</span>
                    <div class="dropdown">
                            <div class="input_select set_value" style="background-position: -327px -243px;" data-index="" name="signal_new_level" pname="signal_new_level">/*[ID_TIPS4]*/</div>
                            <ul class="language yinc">
                                 <li><a href="javascript:void(0)" rel="">/*[ID_TIPS9]*/</a></li>
                                 <li><a href="javascript:void(0)" rel="0">/*[ID_NA]*/</a></li>
                                 <li><a href="javascript:void(0)" rel="1">/*[ID_OA]*/</a></li>
                                 <li><a href="javascript:void(0)" rel="2">/*[ID_MA]*/</a></li>
                                 <li><a href="javascript:void(0)" rel="3">/*[ID_CA]*/</a></li>
                            </ul>
                     </div>
                </li>
				<li  class="popli"><span>/*[ID_TIPS5]*/:</span>
                    <div class="dropdown">
                            <div class="input_select set_value" style="background-position: -327px -243px;" data-index="" name="_alarmReg" pname="_alarmReg">/*[ID_TIPS6]*/</div>
                            <ul class="language yinc">
                                <li><a href="javascript:void(0)" rel="">/*[ID_TIPS10]*/</a></li>
                                <li><a href="javascript:void(0)" rel="0">/*[ID_NA2]*/</a></li>
                                <%
                                    var listai = data.relay_options;
                                    for(var i=0;i<listai.length;i++){
                                %>
                                    <li><a href="javascript:void(0)" rel="<%=listai[i][0] %>"><%=listai[i][1][lang] %></a></li>
                                <%} %>
                            </ul>
                     </div>
                </li>
				<li  class="popli"><span>/*[ID_TIPS7]*/:</span>
                    <div class="dropdown">
                            <div class="input_select set_value" style="background-position: -327px -243px;" data-index="" name="signal_new_state" pname="signal_new_state">/*[ID_TIPS8]*/</div>
                            <ul class="language yinc">
                                 <li><a href="javascript:void(0)" rel="">/*[ID_TIPS11]*/</a></li>
                                 <li><a href="javascript:void(0)" rel="0">/*[ID_LOW]*/</a></li>
                                 <li><a href="javascript:void(0)" rel="1">/*[ID_HIGH]*/</a></li>
                            </ul>
                     </div>
                </li>
                <li class="info" id="SetAlarmInfo"></li>
                <li class="btn"><a href="#" hidefocus="true" class="btn_set"><i>/*[ID_SET]*/</i></a></li>
            </ul> </form>'>
             <%
                     var list = data.content;
                     if(list.length > 0){
                     var hash = [];
                        for ( var i = 0; i < list.length; i++) {
                         if((hash[list[i]] == undefined) && (list[i][1][0]=list[i][1][0])){
                            hash.push(list[i][1][0]);
                            }
                         }
                         //去除数组里面重复情况
                        var res = [];
                        var json = {};
                        for (var i = 0; i < hash.length; i++) {
                            if (!json[hash[i]]) {
                                  res.push(hash[i]);
                                  json[hash[i]] = 1;
                            }
                        }
                        for(var o=0;o<res.length;o++){
                           cid=res[o];
                           for(var m = 0;m < list.length; m++){
                             if(list[m][1][0]==cid){
                 %>
        <div class="table-container margin-n">                    
        <div class="table-title"><span><%if(list[m][1][5][lang]=="/*[ID_POWER_SYSTEM]*/"){%>/*[ID_DO_NCU]*/<%}else{ %> <%=list[m][1][5][lang]%><%} %></span></div>
            <div class="table-list padding-tn">
            <div class="table" id="SetAlarmList">
            <%if(m==0){ %>
                <div class="table-header">
                    <ul>
                        <li class="t-2"><strong class="left pl">/*[ID_SIGNAL_NAME]*/</strong></li>
                        <li class="t-3"><strong class="center pl">/*[ID_ALARM_LEVEL]*/</strong></li>
						<li class="t-3"><strong class="center pl">/*[ID_ALARM_STATE]*/</strong></li>
						<li class="t-4 ups"><strong class="center pl">/*[ID_REPLAY_NUMBER]*/</strong></li>
                        <li class="t-5"><strong class="center">/*[ID_MODIFY]*/</strong></li>
                    </ul>
                </div>
               <%} %>
                <div class="table-body">
                        <%
                        var nodata = true;
                       
                         var listai = data.relay_options;
                        if(list && list.length>0){
                        var AlarmLevels = ["/*[ID_NA1]*/","/*[ID_OA1]*/","/*[ID_MA1]*/","/*[ID_CA1]*/"];
						var AlarmStates = ["/*[ID_LOW1]*/","/*[ID_HIGH1]*/"];
                        for(var i=0,ilen=list.length;i<ilen; i++){
                         if(list[i][1][0]==cid){
                        nodata = false;
                    %>
                    <ul class= "<%if(i%2==0){%> gray <%if(i==ilen-1){ %> bottom_line <%}}else{ %><%if(i==ilen-1){ %> bottom_line2 <%}} %>" id="AlarmSignal_<%=list[i][1][0] %>_<%=list[i][1][1] %>_<%=list[i][1][2] %>">
                        <li class="t-2"><span class="left pl"><%=list[i][1][6][lang] %></span></li>
						<%var iAlarmLevel = list[i][1][4];%>
                        <li class="t-3"><span class="center pl"><%=AlarmLevels[iAlarmLevel] %></span></li>
                        <%var iAlarmState = list[i][2][3];%>
                        <li class="t-3"><span class="center pl"><%=AlarmStates[iAlarmState] %></span></li>
						<%var iRelayNum = list[i][1][3];%>
                        <li class="t-4"><span class="center pl">
                        <%
                          var danum=0;
                        if(iRelayNum==0){ %>
                            /*[ID_NA3]*/
                        <%} else { %>
                            <%for(var x=0;x<listai.length;x++){
                                if(listai[x][0]==iRelayNum){ danum++;%>
                                    <%=listai[x][1][lang] %>
                                <%}
                            }
                             if(danum==0){%>
                                 /*[ID_NA4]*/
                             <%}
                        } %></span></li>
						<li class="t-5"><a href="javascript:void(0);" hidefocus="true" class="btn_set" post="language_type=<%=lang %>&equip_ID=<%=list[i][1][0]%>&signal_type=<%=list[i][1][1]%>&signal_id=<%=list[i][1][2]%>&equip2_ID=<%=list[i][2][0]%>&signal2_type=<%=list[i][2][1]%>&signal2_id=<%=list[i][2][2]%>&control_value=&control_type=20"  modifydatas='{"signal_new_name":"<%=list[i][1][6][lang]%>","signal_new_abbr_name":"<%=list[i][1][7][lang]%>","signal_new_level":"<%=list[i][1][4]%>","_alarmReg":"<%=list[i][1][3]%>","signal_new_state":"<%=list[i][2][3]%>"}'><i>/*[ID_MODIFY1]*/</i></a></li>
                    </ul>
                    <%};};} %>
                    <%if(nodata){ %>
                        <div class="system-no-data">/*[ID_NO_DATA]*/</div>
                    <%} %>

                </div>
               
            </div>
        </div>
        </div>
         <%break;}} }} %>
    </div>
</body></html>
