﻿<!DOCTYPE html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head><body>
<%var lang = args["language_type"]; %>
<div id="CabinetMap" template='
<div class="cabinet-unit">(A)</div>
<ul class="cabinet-map-info">
    <li><i class="c"></i>/*[ID_MAJOR]*/</li>
    <li><i class="w"></i>/*[ID_OBS]*/</li>
    <li><i class="n"></i>/*[ID_NORMAL]*/</li>
	<select id="changeList" style="display:none">
		<option>/*[ID_SELECT]*/</option>
	</select>
</ul>'>
<%
var nodatas = true;
for(var item in data){ 
    nodatas = false;
%>
    <div class="cabinet-x" name="<%=item %>">
        <strong><%=data[item]["name"] %></strong>
        <%
        var d = 0;
        for(var du in data[item]){
		if(du=="name"){continue; }
        d++; 
        %>
            <a href="#" class="du<%if(d==6){%> du-last<%}%> <%if(d%2==0){ %>du-gray<%} %>" name="<%=du %>"><%=data[item][du][0] %></a>
        <%};for(var i=0; i<6-d; i++){%>
            <span class="<%if(i==6-d-1){%>du-last<%}%><%if(d%2==0){if(i%2!=0){ %> du-gray<%}}else{if(i%2==0){ %> du-gray<%}}%>">&nbsp;</span>
        <%};%>

    </div>
<%} %>
<%if(nodatas){ %>
    <div class='is-empty'>/*[ID_NO_DATA]*/</div>
<%} %>
</div>
</body></html>
<%
window.Language["cabinet_map"] = {
	"errors":[
		"/*[ID_NO_DATA1]*/",	/*[0]"no data!"*/
	]
};
%>
