﻿<!DOCTYPE html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head><body>
<%var args= it.args,data = it.data ? it.data : it;%>
<div class="table-container" id="SetAutoConfiguration">                    
    <div class="table-title"><span>/*[ID_HEAD3]*/</span></div>
    <div class="table-list padding-bn">
    <form action="../cgi-bin/web_cgi_setting.cgi" id="FormAutoConfig" method="POST">
        <input type="hidden" name="_modify_configure" value="12">
        <input type="hidden" name="_modify_configure_detail" value="28">
        <input type="hidden" name="language_type" value="0">
        <input type="hidden" name="sessionId" value="<%=args['sessionId'] %>">
    </form>
    <table cellspacing="0" cellpadding="0" class="table-b">                            
        <tbody>
             <tr>
                <td class="tbinfo"><p  id="close_acu">/*[ID_TIPS]*/</p></td>
                <td class="btn tbset">
                    <a href="#" class="btn_2" id="btn_auto_configuration" style="margin:0 0 0 15px">
                        <span>/*[ID_CLOSE_ACU]*/</span>
                    </a>
                </td>
            </tr>
        </tbody>                        
    </table>
    </form>
</div>
</div>
<div class="table-container margin-n" id="SetRestoreDefault">                    
    <div class="table-title"><span>/*[ID_HEAD]*/</span></div>
        <div class="table-list padding-tn padding-bn">
        <form action="../cgi-bin/web_cgi_control.cgi" id="RestoreDefault" method="post">
        <table cellspacing="0" cellpadding="0" class="table-b">
        <tbody>
            <tr>
                <td class="tbinfo"><p id="P1">/*[ID_TIPS0]*/</p></td>
                <td class="btn tbset">
                   <a href="#" class="btn_2" id="btn_restore" style="margin:0 0 0 15px"><span>/*[ID_RESTORE_DEFAULT]*/</span></a>
                   <a href="#" class="btn_2" id="btn_reboot1" style="margin:0 0 0 15px"><span>/*[ID_START_SCUP]*/</span></a>
                </td>
            </tr>
        </tbody>
    </table>
        </form>
    </div>
</div>

<div class="table-container margin-n" id="RetrieveFile">                    
    <div class="table-title"><span>/*[ID_GET_PARAM]*/</span></div>
    <div class="table-list padding-tn padding-bn">
        <form action="../cgi-bin/web_cgi_setting.cgi" method="POST">
        <table cellspacing="0" cellpadding="0" class="table-b">
        <tbody>
            <tr>
                <td class="tbinfo"><p id="P2">/*[ID_TIPS19]*/</p></td>
                <td class="btn tbset">
                   <a href="#" class="btn_2" id="btn_retrieve" style="margin:0 0 0 15px"><span>/*[ID_RETRIEVE]*/</span></a>
                </td>
            </tr>
        </tbody>
    </table>
        </form>
    </div>
</div>

<div class="table-container margin-n" id="RetrieveDiagnosticPack">
    <div class="table-title"><span>/*[ID_DIAGNOSE]*/</span></div>
    <div class="table-list padding-tn padding-bn">
        <form>
        <table cellspacing="0" cellpadding="0" class="table-b">
        <tbody>
            <tr>
                <td class="tbinfo"><p id="P2">/*[ID_TIPS21]*/</p></td>
                <td class="btn tbset">
                   <a href="#" class="btn_2" id="btn_diagnostic" style="margin:0 0 0 15px"><span>/*[ID_RETRIEVE1]*/</span></a>
                </td>
            </tr>
        </tbody>
    </table>
        </form>
    </div>
</div>

<div class="table-container margin-n" id="SetStopController">                    
    <div class="table-title"><span>/*[ID_HEAD1]*/</span></div>
    <div class="table-list padding-tn padding-bn">
        <form action="../cgi-bin/web_cgi_filemanage.cgi" method="post">
        <table cellspacing="0" cellpadding="0" class="table-b">
        <tbody>
            <tr>
                <td class="tbinfo"><p id="P3">/*[ID_TIPS7]*/</p></td>
                <td class="btn tbset">
                   <a href="#" class="btn_2" id="btn_stop" style="margin:0 0 0 15px"><span>/*[ID_CLOSE_SCUP]*/</span></a>
                </td>
            </tr>
        </tbody>
    </table>
        </form>
    </div>
</div>
<div  id="SetUploadDownload" style="display:none;">
<div class="table-container margin-n">   
   <div class="table-title"><span>/*[ID_HEAD2]*/</span></div>
    <div class="table-list padding-tn padding-bn">
        <div class="table">
            <div class="table-info downloadtip" style="text-align:left; padding:10px 15px; line-height:20px;">/*[ID_TIPS8]*/</div>
            <div class="table-body">
                <div class="table-line">
                <iframe name="FrameFormUpload" width="1" height="1" style="display:none;" keep="true"></iframe>
                <form name="_uploadfile" id="_uploadfile" target="FrameFormUpload" action="../cgi-bin/web_cgi_filemanage.cgi" method="post" encType="multipart/form-data">
                  <input type="hidden" value="<%=args["sessionId"] %>" name="sessionId">
                  <input type="hidden" name="language_type" value="<%=args["language_type"] %>">
                  <input type="hidden" name="file_name" id="file_name" value="0">
                  <input type="hidden" name="_start_acu" value="0">
                  <input type="hidden" name="_upload_file" value="1">
                  <input type="hidden" name="filetype" id="filetype" value="0">
                  <input type="hidden" name="_upload_cfg" value="0">
                  <input type="hidden" name="_upload_lang" value="0">
                <em>/*[ID_FILE1]*/</em>
                <div class="selectfile">
                    <input type="text" value="" size="400" class="value" id="_fileselectvalue" /><span class="select">/*[ID_TIPS9]*/</span><input id="_fileselect" type="file" size="400" name="filedata0" class="file">
                </div>
                <a href="#" class="btn_2" id="btn_upload" style="margin:4px 0 0 20px;"><span>/*[ID_DOWNLOAD]*/</span></a></form></div>
                <div class="table-line" style="border-bottom:none;">
                <form action="../cgi-bin/web_cgi_filemanage.cgi" method="post">
                <em>/*[ID_FILE0]*/</em>
                    <div class="dropdown">
                            <div  id="_uploadfiletype" name="_uploadfiletype" class="input_select set_value" data-index="0">/*[ID_CONFIG_TAR]*/</div>
                            <ul class="language yinc">
                                 <li><a href="javascript:void(0)" rel="0">/*[ID_CONFIG_TAR2]*/</a></li>
                                 <li><a href="javascript:void(0)" rel="1">/*[ID_LANG_TAR]*/</a></li>
                            </ul>
                     </div>
                    <a href="#" class="btn_2" id="btn_download" style="margin:3px 0 0 20px;"><span>/*[ID_UPLOAD]*/</span></a></form></div>
            </div>
        </div>
    </div>
</div>
<div class="table-container margin-n">   
    <div class="table-title"><span>/*[ID_STARTSCUP]*/</span></div>
    <div class="table-list padding-tn padding-bn"  style="padding:15px 0 10px 0;  text-align:center;">
        <form action="../cgi-bin/web_cgi_filemanage.cgi" method="post">
        <a href="#" class="btn_2" id="btn_reboot2" style="margin:20px 0 15px 15px"><span>/*[ID_STARTSCUP1]*/</span></a>
        </form>
    </div>
</div>
</div>
</body></html>
<%
window.Language["setting_upload_download"] = {
	"errors_up_down":[
	   "/*[ID_DOWNLOAD_ERROR0]*/",	/*[0]"Unknown error"*/
	   "/*[ID_DOWNLOAD_ERROR1]*/",	/*[1]"Successfully to download file!"*/
	   "/*[ID_DOWNLOAD_ERROR2]*/",	/*[2]"Fail to close ACU, Fail to download file!"*/
	   "/*[ID_DOWNLOAD_ERROR3]*/",	/*[3]"Fail to start ACU, Fail to download file, the file is too large!"*/
	   "/*[ID_DOWNLOAD_ERROR4]*/",	/*[4]"No authority"*/
	   "/*[ID_DOWNLOAD_ERROR5]*/",	/*[5]"Fail to communicate with ACU"*/
	   "/*[ID_DOWNLOAD_ERROR6]*/",	/*[6]"Successfully to upload file"*/
	   "/*[ID_DOWNLOAD_ERROR7]*/",	/*[7]"Fail to upload file"*/
	   "/*[ID_DOWNLOAD_ERROR8]*/",	/*[8]"Fail to download file"*/
	   "/*[ID_DOWNLOAD_ERROR9]*/",	/*[9]"Successfully to download file"*/
	   "/*[ID_DOWNLOAD_ERROR10]*/"	/*[10]"Fail to upload file,Hardware Protection!"*/
	],
	"errors_config":[
		"/*[ID_ERROR0]*/",		/*[0]"Unknown error!"*/
	    "/*[ID_ERROR1]*/",		/*[1]"ACU was closed Successfully! You can download/upload file"*/
	    "/*[ID_ERROR2]*/",		/*[2]"Fail to close ACU!"*/
	    "/*[ID_ERROR3]*/",		/*[3]"You have enough authority to close ACU!"*/
	    "/*[ID_ERROR4]*/",		/*[4]"Fail to communicate with ACU."*/
	    "/*[ID_AUTO_CONFIG1]*/"	/*[5] */
	],
	"errors_stop":[
		"/*[ID_ERROR5]*/",		/*[0]"Unknown error!",*/
       "/*[ID_ERROR6]*/",		/*[1]"ACU was closed Successfully! You can download/upload file",*/
       "/*[ID_ERROR7]*/",		/*[2]"Fail to close ACU!",*/
       "/*[ID_ERROR8]*/",		/*[3]"You have enough authority to close ACU!",*/
       "/*[ID_ERROR9]*/"		/*[4]"Fail to communicate with ACU."*/
	],
	"errors_retrieve":[
        "/*[ID_ERROR10]*/",		/*[0]"Unknown error!",*/
        "/*[ID_ERROR11]*/",		/*[1]"ACU was closed Successfully! You can download/upload file",*/
        "/*[ID_ERROR12]*/",		/*[2]"Fail to close ACU!",*/
        "/*[ID_ERROR13]*/",		/*[3]"You have enough authority to close ACU!",*/
        "/*[ID_ERROR14]*/"		/*[4]"Fail to communicate with ACU."，*/
	],
	"tips":[
		"/*[ID_TIPS18]*/",		/*[0]"Confirm auto configuration?"*/
		"/*[ID_TIPS1]*/",		/*[1]"Restore default config will cause system to reboot, are you sure?"*/
		"/*[ID_TIPS5]*/",		/*[2]"Restoring defaults...please wait."*/
		"/*[ID_TIPS3]*/",		/*[3]"Are you sure you want to reboot the controller?"*/
		"/*[ID_TIPS6]*/",		/*[4]"Rebooting controller...please wait."*/
		"/*[ID_TIPS10]*/",		/*[5]"Stop controller...please wait."*/
		"/*[ID_TIPS11]*/",		/*[6]"A file name is required."*/
		"/*[ID_TIPS12]*/",		/*[7]"Are you sure you want to download?"*/
		"/*[ID_TIPS13]*/",		/*[8]"Downloading...please wait."*/
		"/*[ID_TIPS14]*/",		/*[9]"Incorrect file type or file name contains invalid characters. Please download *.tar.gz or *.tar."*/
		"/*[ID_TIPS15]*/",		/*[10]"please wait..."*/
		"/*[ID_TIPS16]*/",		/*[11]"Are you sure you want to start the controller?"*/
		"/*[ID_TIPS17]*/",		/*[12]"Controller is rebooting..."*/
		"/*[ID_TIPS20]*/"		/*[13]"Please wait..."*/
	]
};
%>