﻿<!DOCTYPE html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head><body>
<%var lang = args["language_type"]; %>
<div class="mainBody" id="mainBody">
<div id="System_DC">
<%
    var nodataText = "/*[ID_NO_DATA]*/";
    var nodatas = true;
    for(var item in data){
        if(data[item].length>0){
        nodatas = false;
        for(var i=0,ilen=data[item][1].length;i<ilen; i++){
        var nodata = true;
%>        
    <div class="table-container margin-tn">
        <div class="table-title"><span><%=data[item][1][i][0][lang]%></span></div>
        <div class="table-list padding-tn">
            <div class="table">
                <div class="table-header">
                    <ul>
                        <li class="t-1"><strong class="left pl">/*[ID_SIGNAL]*/</strong></li>
                        <li class="t-2"><strong class="left pl">/*[ID_VALUE]*/</strong></li>
                        <li class="t-1" style="margin-left:20px;"><strong class="left pl">/*[ID_SIGNAL1]*/</strong></li>
                        <li class="t-2"><strong class="left pl">/*[ID_VALUE1]*/</strong></li>
                    </ul>
                </div>
                <div class="table-body">
                    <%
                    var g =0;
                    for(var j=0,jlen= data[item][0].length;j<jlen; j++){
                    g++;
                    if(g>3){ g = 0;}
                    var itemValue = data[item][1][i][j+1];
                    if(jQuery.type(itemValue)=="array"){
                        if(jQuery.type(itemValue[0])=="array"){
                            itemValue2 = itemValue[0][lang];
                        } else {
                            itemValue2 = itemValue[0];
                        };
                    } else {
                        itemValue2 =  itemValue;
                    }
                    if(Validates.CheckValue(itemValue)=="v_hidden"){ g--; } else {  nodata = false; }
                    %>
                    <ul class="<%if(g%2==0){ %>right <%} %> <%if(g==1 || g==2){ %> gray<%} else { if(j==jlen-1 || j==jlen-2){ %> bottom_line <%}} %>  <%=Validates.CheckValue(itemValue)%>">
                        <li class="t-1"><span class="left pl"><%=data[item][0][j][lang] %></span></li>
                        <li class="t-2"><span class="left pl"><%=itemValue2 %></span></li>
                    </ul>
                    <%} %>
                    <%if(nodata){ %>
                    <div class="system-no-data"><%=nodataText %></div>
                    <%} %>
                </div>
            </div>
        </div>
    </div>
    <%};};} %>
    <%if(nodatas){ %>
       <div class='is-empty'><%=nodataText %></div>
    <%} %>
</div>
</div>
</body></html>
