<!DOCTYPE html><html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head><body>
<%var lang = args["language_type"]; %>
<%
       var c = 0;
       var Shuntlist = data.shunts_data.PowerSystem1;
       var Shuntlist2 = data.PowerSystem;
       for(var item in Shuntlist2){
           c+= Shuntlist2[item].length;
       }
       var hash = {};
       c = c+1;
       for(var item in Shuntlist){
        if(Shuntlist[item].length > 0){
        for ( var i = 0; i < Shuntlist[item].length; i++) {
          //去除json数组里面重复情况
          (hash[Shuntlist[item][i]] == undefined) && (hash[Shuntlist[item][i][1]]=Shuntlist[item][i][1]);
        }
       for(var o in hash){
         cid=o.split(',')[0];
          for(var m = 0;m < Shuntlist[item].length; m++){
             if(Shuntlist[item][m][1]==cid){
             var isZK = (jQuery.inArray(c,Configs.PowerSystem)=="-1") ? false : true;
             var hideshunt=0;
             var signalcount=0
             for(var t = 0,ilen=Shuntlist[item].length;t < ilen ; t++){
                if(Shuntlist[item][t][1]==cid){
                    if(Shuntlist[item][t][7][10][3]!=1){
                        hideshunt++
                    }
                    signalcount++
                }
             }
             if(hideshunt!=signalcount||(Shuntlist[item][m][1]<1801||Shuntlist[item][m][1]>1808)){
 %>
<div class="table-container<%if(!isZK){ %> border-bn <%} %>">                    
        <div class="table-title table-ex"><span class="<%if(!isZK){ %>title-zk<%} else { %>title-sl<%} %>"><i></i><%=Shuntlist[item][m][4][lang]%></span></div>
          <div class="table-list padding-tn table-content" index="<%=c %>" <%if(jQuery.inArray(c,Configs.PowerSystem)!="-1"){ %> style="display:block;" <%} %> >
            <form action="" method="post">
            <div class="table">
                <div class="table-header">
                    <ul>
                        <li class="t-1"><strong class="left pl">/*[ID_REFERENCE2]*/</strong></li>
                        <li class="t-2"><strong class="left pl">/*[ID_SIGNAL_SHUNTNAME2]*/</strong></li>
                        <li class="t-3"><strong <%if(lang==0){ %>class="left pl mglt_en"<%}else{ %>class="left pl mglt"<%} %> >/*[ID_MODIFY2]*///*[ID_VIEW2]*/</strong></li>
                    </ul>
                </div>
                <div class="table-body">
                     <% 
                     var x=0;
                     var y=0;
                     for(var j = 0,ilen=Shuntlist[item].length;j < ilen ; j++){
                         if(Shuntlist[item][j][1]==cid){
                         var jStr=jQuery.toJSON(Shuntlist[item][j]);
                         if(Shuntlist[item][j][7][10][3]==1||(Shuntlist[item][j][1]<1801||Shuntlist[item][j][1]>1808)){
                             x=(j%10)+1;
                             y++;
                        
                      %>
                     <ul class= "<%if((y-1)%2==0){%> gray <%if((y-1)==ilen-1){ %> bottom_line <%}}else{ %><%if((y-1)==ilen-1){ %> bottom_line2 <%}} %>"  id="<%=Shuntlist[item][j][0] %>_<%=Shuntlist[item][j][2] %>_<%=Shuntlist[item][j][3] %>_<%=j%>">
                        <li class="t-1"><span class="left pl"><%if(Shuntlist[item][j][1]==116||Shuntlist[item][j][1]==117){ %>/*[ID_BATTERYSHUNT2]*/<%}else if(Shuntlist[item][j][1]==176){ %>/*[ID_LOADSHUNT2]*/<%}else{%> <%=itemNames[x] %><%} %></span></li>
                        <li class="t-2"><span class="left pl">
                            <%if(Shuntlist[item][j][7][0][3]>0){if(item=="EIB"||item=="SMDU"||item=="SMDUE"||item=="SMDUP"){if(Shuntlist[item][j][7][0][3]==1){%><%=Shuntlist[item][j][7][8][6][lang]%><%}else if(Shuntlist[item][j][7][0][3]==3){%><%=Shuntlist[item][j][7][9][6][lang] %><%}else if(Shuntlist[item][j][7][0][3]==4){%><%=Shuntlist[item][j][7][10][6][lang]%><%}else{%><%=Shuntlist[item][j][5][lang] %><%}}else{%><%=Shuntlist[item][j][5][lang] %><%}}%></span></li>
                        <li class="t-3">
                             <a href="javascript:void(0)" hideFocus="true"class="btn_mod" 	post="language_type=<%=lang %>&equip_ID=<%=Shuntlist[item][j][1]%>&signal_type=<%=Shuntlist[item][j][2]%>&signal_id=<%=Shuntlist[item][j][3]%>&control_value=&control_type=24" modifydatas='{<%=item %>:<%=jStr %>}' template='' lang='<%=lang %>'na4="/*[ID_NA5]*/"  >
                                         <i>/*[ID_MODIFY3]*///*[ID_VIEW3]*/</i>
                             </a>
                         </li>
                     </ul>
                     <%}}}%>
                </div>
            </div>
            </form>
        </div>
      </div>
 
      <%}c++; break;}}}}}%>
</body></html>