/* 设置滚动条的样式 */::-webkit-scrollbar { width: 12px;}
.alarmClose{width:20px;background-size: 20px 20px}
.PromptPopClose{height: 20px;right: 2px;width: 20px;background-size: 20px 20px;}
.popup-close{height: 20px;width: 20px;background-size: 20px;}
.battery_popup .popup-close{width: 20px;background-size: 16px;height: 20px;right: 6px;}
.table li,.table li span, .table li strong,#SettingNMS .table li strong, #SettingNMS .table li span,#SetDIAlarm .table li span{height:45px;line-height:45px}
#set_site_info .table li.t-4 input,.table li .text input,#InstallWizad .table li.t-100 input,#iw_set_time button.ui-datepicker-trigger{margin: 9px 0 0 0;}
.table li a.btn_set, .table li a.btn_set_disabled{margin: 9px auto 0 auto;}
a.btn_2{margin: 9px 10px 0 0;height:27px;line-height:27px}
.input_select{height: 28px;line-height: 28px;margin-top: 8px;}
#Set_PowerSystem .input_select{background: url(../images/hometotal.png)no-repeat -314px -240px;}
.table li .radiodiv,table.table-b td .radiodiv,.table-list dl dd .radiodiv{background: url(../images/checked.png) 0 -155px no-repeat;height: 16px;line-height: 16px;margin: 13px 5px 0 0;padding-left: 16px;}
.table li .radiodivnot,table.table-b td .radiodivnot,.table-list dl dd .radiodivnot{background-position: 0 -63px;}

.table ul.select div.radiodiv,#userList .table ul.selected div.radiodiv{background: url(../images/checked.png) 0px 0px no-repeat;}
.table ul.select div.radiodivnot{background: url(../images/checked.png) 0 -94px no-repeat!important;}

.table li .disradiodiv,.table ul.select div.disradiodiv{background: url(../images/checked.png) 0 -31px no-repeat;}
.table li .disradiodivnot,.table ul.select div.disradiodivnot{background: url(../images/checked.png) 0 -125px no-repeat!important;}

.table li .radio label{margin: 0 5px 0 3px;}

button.ui-datepicker-trigger{height:27px;width:27px;background: #949494 url(../images/hometotal.png) -453px 5px no-repeat;}

.history-summary p{height: 42px;line-height: 42px;}
.history-summary .dropdown{margin: -35px 0 0 118px;width: 236px;}
.history-summary p input,a.btn_2 i,.btn_set,input, select,a.btn_2 span, a.btn_2 i,table.table-b input,#Set_Time_Sync p.text input,.btn_mod{height:27px;line-height:27px}
.history-summary .btn_exdo{margin: -33px 0 0 420px;}
#userList .table li strong, #userList .table li span{line-height:45px}
.hlms-set dd.ATL-set .dropdown{margin-top:2px}
.btn_change_trap{margin: 4px 0 0 0;}
#SetAlarmLevelRelay ul li input{top:4px}
#SetAlarmLevelRelay ul.popul li.popli .dropdown,#WidgetSetPowerSplit ul.popul li.popli .dropdown{margin-top:3px}
.alarm-summary .dropdown{margin-top:-12px}
#Set_Time_Sync .table li .radiodiv, table.table-b td .radiodiv{margin: 9px 5px 0 0;}
#Set_Time_Sync a.btn_2#getLocalTime{margin: 0 0 0 15px!important}
#Set_Time_Sync a.btn_2#getLocalZone{margin: 0 0 0 15px!important}
#Set_Time_Sync td{line-height:35px}
#Set-HLMS table.table-b td .radiodiv{margin: 0 5px 0 0;}
#Set-HLMS a.btn_2{margin:5px 0px 0px!important;}
#SettingNMS a.btn_2{margin:4px 0 0 0!important;}
#CabinetParam ul li input{top:4px}
.SetProgress a{margin: -4px 0 0 15px;}
#Set_Time_Sync p.text input#a_time_zone{margin:0}

#SetDIAlarm .table ul{height: auto;padding: 0;}
.table-relay .table ul {height: auto!important;padding: 0;}
.table-relay .table li.sbtn,.table-relay .table li.mbtn{margin-top:0px}
#AlmSoundOff{color: #E1E1E1;display: block;width: 100px;height: 25px;position: absolute;top: 3px;left: 550px;height: 20px;background: url(../images/alarmsound.png) 0px 0px no-repeat;position: absolute;top: 6px;color: #fff;line-height: 12px;padding-left: 25px;display:none}
/*#AlmSoundOff:hover {color: #FF0000;text-decoration: underline;}*/


#SetPowerSplit .table ul{height:45px;padding:0}
#SetPowerSplit .table li span{line-height:45px}

.ui-widget-header{height:28px!important} 