﻿/*G3 Germany style*/

/*button*/
.btn_set { padding:0 0 0 5px; }
.btn_set i { padding: 0 5px 0 0; }
.btn_set_disabled { padding:0 0 0 5px; }
.btn_set_disabled i { padding:0 5px 0 0; }

/*setting list*/
.table-list { padding: 20px 5px;}
.table { width: 746px;}
.table li .pl { padding-left: 5px; }
.table li.t-1 { width: 210px; }
.table li.t-2 { width: 100px; }
.table li.t-3 { width: 125px; }
.table li.t-4 { width: 215px; }
.table li.t-5 { width: 95px; }

/*ipv4*/
#siteSignals .table li.t-1 { width: 245px; }
#siteSignals .table li.t-4 { width: 180px; }

/*nms*/
.hlms-set dd.ATL-set { width:150px; }

/*shunt*/
#SHUNT_SET .table li.t-1 { width:135px; }
#SHUNT_SET .table li.t-2 { width:165px; }

/*power split*/