﻿/*G3 French style*/

/*setting list*/
/*.table-list { padding: 20px 5px;}*/
.table { width: 746px;}
.table li .pl { padding-left: 5px; }
.table li.t-1 { width: 220px;margin-left:20px}
.table li.t-2 { width: 150px; }
.table li.t-4 { width: 220px; }
.table li.t-5 { width: 65px; }
#set_other .table li.t-3{width:80%!important}
/*ipv4*/
#siteSignals .table li.t-1 { width: 220px; }
#siteSignals .table li.t-3 { width: 154px; }
#siteSignals .table li.t-4 { width: 215px; }
#siteSignals .table li.t-5,#set_site_info .table li.t-5{ width: 65px; }

/*shunt*/
#SHUNT_SET .table li.t-1 { width:135px; }
#SHUNT_SET .table li.t-2 { width:165px; }

.Pop-set-alarm {margin: -105px 0 0 -65px !important;width: 350px !important;}
/*setting_power_system*/
#Pscl .table li.t-1{margin-left:30px}
#Pscl .table li.t-4{width: 230px !Important;}
#Pscl .table li.t-5{width: 70px !Important;}

/*tmp.setting_charge.html*/
#Set_Charge .table li.t-4{width: 267px;}
/*setting_temp*/
#SetTemp .table li.t-5{width: 70px !Important;}
/*setting_di_content*/
#SetDIAlarm .table li.t-2{margin-left:30px}


.history-summary .dropdown.exdo{margin-left:215px}
.history-summary .btn_exdo{margin: -27px 0 0 455px!important;}
.history-summary .historyUpload{margin-left:550px!important}

#Set_PowerSystem .dropdown{width:170px}
#Set_PowerSystem .dropdown .input_select{background-position:-310px -243px}
.alarm-summary .dropdown{width:200px}
.alarm-summary .dropdown .input_select{background-position: -280px -243px}
.table .table-line em{width: 135px!important;}